Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#980)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#983)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#985)
  go.mod
  go.sum
Due: none

envoy: upgrade to v1.30.3
  scripts/get-envoy.bash
Due: none

ingress/ci: use get-envoy cmd
  Makefile
  scripts/get-envoy.bash
Due: none

envoy: upgrade to v1.30.3 (#987)
  scripts/get-envoy.bash
Due: none

ci: update docs script destination path
  scripts/open-docs-pull-request.sh
Due: none

ingress/ci: use get-envoy cmd (#988)
  Makefile
  scripts/get-envoy.bash
Due: none

ci: set core to v0.26.1, set deployment tags
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

run go mod tidy
  go.mod
  go.sum
Due: none

ci: set core to v0.26.1, set deployment tags (#998)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update core to latest commit in main (#1000)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1004)
  go.mod
  go.sum
Due: none

ci: update docs script destination path (#990)
  scripts/open-docs-pull-request.sh
Due: none

ci: run prettier before opening docs PR
  scripts/open-docs-pull-request.sh
Due: none

ci: run prettier before opening docs PR (#1008)
  scripts/open-docs-pull-request.sh
Due: none

crd: add runtimeFlags
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  pomerium/ctrl/bootstrap.go
Due: lint, deployment

add help text
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: lint, deployment

retain default values
  pomerium/ctrl/bootstrap.go
Due: lint

crd: add runtimeFlags (#1010)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  pomerium/ctrl/bootstrap.go
Due: lint, deployment

ci: avoid opening multiple "update core" PRs
  .github/workflows/update-core.yaml
Due: deployment

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
