Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

ci: update latest release branch
  .github/workflows/update-branch-dependencies.yaml
  .github/workflows/update-dependencies.yaml
Due: deployment

run generate
  .github/workflows/update-branch-dependencies.yaml
Due: deployment

typo
  .github/workflows/update-branch-dependencies.yaml
Due: deployment

chore: bump image to v0.33.0 release & make deployment
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

chore: bump to pomerium v0.33.0
  go.mod
  go.sum
Due: none

chore: bump ingress-controller image to v0.33.0 for release (#1476)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update dependencies
  go.mod
  go.sum
Due: none

ci: update dependencies (#1474)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1478)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1479)
  go.mod
  go.sum
Due: none

cmd: add zero-managed mode to all-in-one command
  cmd/all_in_one.go
  go.mod
  go.sum
  main.go
Due: lint

fix(sync): skip duplicate full-state ingress writes
  pomerium/ingress_config_cache.go
  pomerium/ingress_config_cache_test.go
  pomerium/reconcile.go
  pomerium/sync.go
Due: lint

fix(settings): ignore status-only Pomerium updates
  controllers/settings/controller.go
  controllers/settings/controller_predicate_test.go
Due: lint

feat(ingress): batch full-state reconciliations
  cmd/ingress_opts.go
  cmd/ingress_opts_batch_test.go
  controllers/ingress/batch_coordinator.go
  controllers/ingress/batch_coordinator_test.go
  controllers/ingress/batch_events.go
  controllers/ingress/batch_reconcile.go
  controllers/ingress/batch_reconcile_test.go
  controllers/ingress/builder.go
  controllers/ingress/controller.go
  controllers/ingress/reconcile.go
  go.mod
Due: lint

fix(status): prune stale managed ingress entries
  controllers/ingress/batch_reconcile.go
  controllers/ingress/batch_reconcile_test.go
  controllers/ingress/controller.go
  controllers/ingress/reconcile.go
  controllers/reporter/ingress.go
  controllers/reporter/ingress_prune_test.go
  controllers/reporter/reporter.go
Due: lint

perf(sync): build full-state config linearly
  pomerium/sync.go
  pomerium/sync_test.go
Due: lint

fix(deploy): drain proxy before pod termination
  config/pomerium/deployment/base.yaml
  deployment.yaml
Due: deployment

preserve routes on dependency fetch failures
  controllers/ingress/batch_reconcile_test.go
  controllers/ingress/reconcile.go
Due: lint

fix batch waiter shutdown errors
  controllers/ingress/batch_coordinator.go
  controllers/ingress/batch_coordinator_test.go
Due: lint

fix(settings): handle deleted Pomerium resources
  controllers/settings/controller.go
  controllers/settings/controller_reconcile_test.go
Due: lint

ci: update dependencies (#1481)
  go.mod
  go.sum
Due: none

cmd: add Zero-managed mode to all-in-one command
  apis/ingress/v1/pomerium_types.go
  cmd/all_in_one.go
  cmd/controller.go
  cmd/ingress_opts.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  deployment.yaml
  go.mod
  go.sum
  main.go
  pomerium/ctrl/bootstrap.go
Due: lint, deployment

docker: use distroless base-nossl image
  Dockerfile
  Dockerfile.ci
Due: none

docker: use distroless base-nossl image (#1484)
  Dockerfile
  Dockerfile.ci
Due: none

docker: use distroless base-nossl image (#1486)
  Dockerfile
  Dockerfile.ci
Due: none

docker: use distroless base-nossl image (#1485)
  Dockerfile
  Dockerfile.ci
Due: none

docs: update template and PR script
  docs/templates/header.tmpl
  reference.md
  scripts/open-docs-pull-request.sh
Due: none

docs: update template and PR script (#1488)
  docs/templates/header.tmpl
  reference.md
  scripts/open-docs-pull-request.sh
Due: none

ci: update dependencies (#1487)
  go.mod
  go.sum
Due: none

docs: update PR script to use oxfmt
  scripts/open-docs-pull-request.sh
Due: none

docs: update PR script to use oxfmt (#1489)
  scripts/open-docs-pull-request.sh
Due: none

sync: make sure to apply namespace ID to settings
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

feat: add path/header normalization settings to the Pomerium CRD
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  pomerium/config_test.go
  reference.md
Due: lint, deployment
