Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

changelog for v0.30.0 (#1185)
  changelog/v0.30.0.md
Due: none

update Core to v0.30.0
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

update Core to v0.30.0 (#1187)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

add example of a second ingress controller installation to a cluster
  config/custom-example/README.md
  config/custom-example/ingressclass.yaml
  config/custom-example/kustomization.yaml
  config/custom-example/namespace.yaml
  config/gen_secrets/kustomization.yaml
Due: deployment

route: add name annotation
  go.mod
  go.sum
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
Due: lint

route: add name annotation (#1190)
  go.mod
  go.sum
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
Due: lint

add example of a second ingress controller installation to a cluster (#1188)
  config/custom-example/README.md
  config/custom-example/ingressclass.yaml
  config/custom-example/kustomization.yaml
  config/custom-example/namespace.yaml
  config/gen_secrets/kustomization.yaml
Due: deployment

mcp: add mcp_server_upstream_oauth2_auth_url annotation
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

mcp: add mcp_server_upstream_oauth2_auth_url annotation (#1191)
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

bump core to 8fa26c63f5fd00e31a50e2b4d467b3f549d831b9
  go.mod
  go.sum
Due: none

global config: ignore if a referenced cert not found
  controllers/settings/fetch.go
  pomerium/config.go
Due: lint

test
  controllers/settings/fetch_test.go
Due: lint

track registry
  controllers/settings/fetch_test.go
Due: lint

go mod tidy
  go.mod
  go.sum
Due: none

bump core main (#1192)
  go.mod
  go.sum
Due: none

upgarade to v0.29.5
  go.mod
  go.sum
Due: none

update deployment
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

upgrade to v0.30.1
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

upgarade to v0.29.5 (#1194)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

upgrade to v0.30.1 (#1195)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

upgrade to core 0.30.2
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

upgrade to core 0.30.2 (#1196)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

global config: ignore if a referenced cert not found (#1193)
  controllers/settings/fetch.go
  controllers/settings/fetch_test.go
  pomerium/config.go
Due: lint

upgrade to v0.29.6
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

upgrade to v0.30.3
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

upgrade to v0.29.6 (#1197)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

upgrade to v0.30.3 (#1198)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

mcp: add server_path annotation
  go.mod
  go.sum
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

mcp: add server_path annotation (#1199)
  go.mod
  go.sum
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

feat(ingress) : add common_lb_config as an ingress config annotation
  go.mod
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
Due: lint

feat(ingress) : add common_lb_config as an ingress config annotation (#1203)
  go.mod
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
Due: lint

ci: update core to latest commit in main (#1186)
  go.mod
  go.sum
Due: none

setup-envtest: use latest patch version available
  .github/workflows/test.yaml
  Makefile
Due: deployment

controller: skip name check
  cmd/all_in_one.go
  cmd/controller.go
  go.mod
Due: lint

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
