Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

ci: update dependencies
  go.mod
  go.sum
Due: none

add mcp_server_upstream_oauth2_authorization_url_params
  go.mod
  go.sum
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

ci: update dependencies (#1346)
  go.mod
  go.sum
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

WIP -- basic keypair sync working?
  controllers/ingress/controller.go
  controllers/ingress/reconcile.go
  pomerium/sync_api.go
Due: lint

fix an issue with the secretsMap not getting updated properly
  controllers/config_controller.go
  controllers/ingress/controller.go
  pomerium/sync_api.go
Due: lint

chore: regenerate deepcopy, docs, and deployment manifests
  apis/ingress/v1/zz_generated.deepcopy.go
  deployment.yaml
  pomerium/ingress_annotations_test.go
  reference.md
Due: lint, deployment

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: none

feat(mcp): expose mcp_allowed_as_metadata_domains, authorization_server_url, and oauth2_auth_style
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  model/ingress_config.go
  pomerium/config.go
  pomerium/config_test.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint, deployment

ci: update dependencies (#1350)
  .tool-versions
  go.mod
  go.sum
Due: none

feat(mcp): expose mcp_allowed_as_metadata_domains, authorization_server_url, and oauth2_auth_style (#1353)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  model/ingress_config.go
  pomerium/config.go
  pomerium/config_test.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  reference.md
Due: lint, deployment

make secrets map more generic
  controllers/ingress/builder.go
  pomerium/sync_api.go
Due: lint

ci: update dependencies (#1354)
  go.mod
  go.sum
Due: none

ingress/config: update clustered-databroker config to use all-in-one with a statefulset
  config/clustered-databroker/kustomization.yaml
  config/clustered-databroker/service/headless.yaml
  config/clustered-databroker/service/kustomization.yaml
  config/clustered-databroker/statefulset/args.yaml
  config/clustered-databroker/statefulset/base.yaml
  config/clustered-databroker/statefulset/image.yaml
  config/clustered-databroker/statefulset/kustomization.yaml
  config/clustered-databroker/statefulset/no-root.yaml
  config/clustered-databroker/statefulset/ports.yaml
  config/clustered-databroker/statefulset/readonly-root-fs.yaml
  config/clustered-databroker/statefulset/resources.yaml
  config/clustered-databroker/statefulset/volume.yaml
Due: deployment

model: add logic for tracking secret dependencies
  model/secrets_map.go
  model/secrets_map_test.go
Due: lint

satisfy lint
  model/secrets_map.go
Due: lint

ingress/config: update clustered-databroker config to use all-in-one with a statefulset (#1355)
  config/clustered-databroker/kustomization.yaml
  config/clustered-databroker/service/headless.yaml
  config/clustered-databroker/service/kustomization.yaml
  config/clustered-databroker/statefulset/args.yaml
  config/clustered-databroker/statefulset/base.yaml
  config/clustered-databroker/statefulset/image.yaml
  config/clustered-databroker/statefulset/kustomization.yaml
  config/clustered-databroker/statefulset/no-root.yaml
  config/clustered-databroker/statefulset/ports.yaml
  config/clustered-databroker/statefulset/readonly-root-fs.yaml
  config/clustered-databroker/statefulset/resources.yaml
  config/clustered-databroker/statefulset/volume.yaml
Due: deployment

model: add logic for tracking secret dependencies (#1357)
  model/secrets_map.go
  model/secrets_map_test.go
Due: lint

WIP -- add support for syncing via new unified API
  cmd/all_in_one.go
  cmd/controller.go
  cmd/ingress_opts.go
  config/pomerium/deployment/args.yaml
  config/pomerium/rbac/role.yaml
  controllers/config_controller.go
  controllers/ingress/reconcile.go
  go.mod
  go.sum
  pomerium/reconcile.go
  pomerium/sync_api.go
  pomerium/sync_databroker.go
Due: lint, deployment

revert envoy-custom to working build
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

implement more sync logic: certificates, settings
  config/pomerium/rbac/role.yaml
  controllers/config_controller.go
  controllers/ingress/builder.go
  controllers/ingress/controller.go
  controllers/ingress/reconcile.go
  pomerium/config_test.go
  pomerium/sync_api.go
Due: lint, deployment

ci: update dependencies (#1356)
  go.mod
  go.sum
Due: none

start adding unit tests
  cmd/all_in_one.go
  controllers/mock/mock.go
  controllers/mock/pomerium_config_reconciler.go
  controllers/mock/pomerium_ingress_reconciler.go
  controllers/mock/sdkclient.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

sync generated mock code
  controllers/mock/pomerium_config_reconciler.go
  controllers/mock/pomerium_ingress_reconciler.go
Due: lint

sync generated mock code (#1362)
  controllers/mock/pomerium_config_reconciler.go
  controllers/mock/pomerium_ingress_reconciler.go
Due: lint

sync certificates from Gateway listeners
  model/secrets_map.go
  pomerium/sync_api.go
Due: lint

start to clean up route sync
  pomerium/sync_api.go
Due: lint

refactor, simplify, start addressing todos
  pomerium/ingress_to_policy.go
  pomerium/ingress_to_policy_test.go
  pomerium/sync_api.go
Due: lint

start adding more tests
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

expand unit tests
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

add more upsertOneIngress test cases
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

more unit tests, fix an error handling bug
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

test unneeded route deletion, make ctx usage more consistent
  pomerium/sync_api_test.go
Due: lint

start to fix up & test SetGatewayConfig
  config/gateway-api/role_patch.yaml
  pomerium/sync_api.go
  pomerium/sync_api_test.go
  pomerium/sync_databroker.go
Due: lint, deployment

don't attempt to set StatName
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint
