Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

controller: skip name check (#1205)
  cmd/all_in_one.go
  cmd/controller.go
  go.mod
Due: lint

setup-envtest: use latest patch version available (#1204)
  .github/workflows/test.yaml
  Makefile
Due: deployment

k8s controller-runtime introduced a global check for the controller name (#1207)
  cmd/all_in_one.go
  cmd/controller.go
  go.mod
Due: lint

feat(ingress) : add common_lb_config as an ingress config annotation (#1203)
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
Due: lint

[0.30.X] backport(ingress) : add common_lb_config as an ingress config annotation (#1209)
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
Due: lint

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

add dns options
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  reference.md
Due: lint, deployment

use main
  go.mod
  go.sum
Due: none

set core to v0.30.4
  go.mod
  go.sum
Due: none

set docker image tag
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

set core to v0.30.4, update image tag (#1211)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

add dns options (#1210)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  reference.md
Due: lint, deployment

add dns options (#1210) (#1212)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  reference.md
Due: lint, deployment

upgrade to v0.30.5
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

upgrade to v0.30.5 (#1213)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update core to latest commit in main (#1208)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1214)
  go.mod
  go.sum
Due: none

use cdoxsey/disable-udp-max-queries
  go.mod
  go.sum
Due: none

try with no options set
  go.mod
  go.sum
Due: none

switch to asan build of Envoy
  go.mod
  go.sum
Due: none

test
  Dockerfile.ci
Due: none

use cdoxsey/0-30-0-dns-tcp
  go.mod
  go.sum
Due: none

set dns options in bootstrap
  go.mod
  go.sum
Due: none

default to using tcp
  go.mod
  go.sum
Due: none

fix nil pointer
  go.mod
  go.sum
Due: none

use patched envoy
  go.mod
  go.sum
Due: none

WIP: health checks
  cmd/all_in_one.go
  cmd/controller.go
  controllers/config_controller.go
  controllers/gateway/controller.go
  controllers/ingress/builder.go
  controllers/ingress/reconcile.go
  controllers/settings/controller.go
  controllers/settings/integration_test.go
  go.mod
  go.sum
  pomerium/ctrl/run.go
  util/health/check.go
  util/restart.go
Due: lint

fix mock
  controllers/mock/client.go
Due: lint

settings: add dns refresh rate options
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
  reference.md
Due: lint, deployment

settings: add dns refresh rate options (#1224)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
  reference.md
Due: lint, deployment

settings: add dns refresh rate options (#1224)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  reference.md
Due: lint, deployment

use latest core
  go.mod
  go.sum
Due: none

settings: add dns refresh rate options (#1224) (#1226)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  reference.md
Due: lint, deployment

update version
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment
