Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

ci: update dependencies
  go.mod
  go.sum
Due: none

pomerium: regression test for routes-only JWT route validation; bump pomerium
  go.mod
  go.sum
  pomerium/validate_test.go
Due: lint

ingress: add bearer_token_format jwt and identity_providers support
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  pomerium/config.go
  pomerium/config_test.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
  reference.md
Due: lint, deployment

cspell: add JWT identity provider terms
  cspell.config.yaml
Due: deployment

pomerium: shorten validate test comment
  pomerium/validate_test.go
Due: lint

pomerium/pomerium@main
  go.mod
  go.sum
Due: none

go.mod: align pomerium grpc submodules with main module
  go.mod
  go.sum
Due: none

ingress: bearer_token_format jwt and identity_providers (#1522)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  cspell.config.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/config_test.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
  pomerium/validate_test.go
  reference.md
Due: lint, deployment

ci: add release demo deploy step
  .github/workflows/release.yaml
Due: deployment

ci: update dependencies (#1521)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1524)
  go.mod
  go.sum
Due: none

Support recorded SSH deployments
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/components/ssh/kustomization.yaml
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  config/ssh/kustomization.yaml
  pomerium/config.go
  pomerium/config_test.go
  pomerium/sync_api_test.go
  reference.md
Due: lint, deployment

bump pomerium/pomerium to experimental/agentic
  cmd/all_in_one.go
  go.mod
  go.sum
Due: lint

ingress: PomeriumService, an Ingress backend for a service Pomerium runs itself
  .github/workflows/sync-crds-to-install.yaml
  Makefile
  apis/ingress/v1/pomeriumservice_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomeriumservices.yaml
  config/crd/kustomization.yaml
  config/pomerium/rbac/cluster_role.yaml
  controllers/ingress/controller.go
  controllers/ingress/controller_integration_test.go
  controllers/ingress/fetch.go
  model/ingress_config.go
  model/pomerium_service.go
  pomerium/ingress_annotations_test.go
  pomerium/ingress_to_route.go
  pomerium/proto.go
  pomerium/routes_test.go
Due: lint, deployment

config: a StatefulSet base for the all-in-one pod
  config/pomerium/statefulset/kustomization.yaml
  config/pomerium/statefulset/statefulset.yaml
Due: deployment

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: none

chore(ci): move from pomerium/ingress-controller to pomerium/ingress-controller-oss
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/release.yaml
Due: deployment

use gcp
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/release.yaml
Due: deployment

ci: update dependencies (#1525)
  .tool-versions
  go.mod
  go.sum
Due: none

prepare for v0.33.4 release
  .tool-versions
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

prepare for v0.33.4 release (#1531)
  .tool-versions
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update dependencies (#1530)
  go.mod
  go.sum
Due: none

chore(ci): move from pomerium/ingress-controller to gcp (#1526)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/release.yaml
Due: deployment

fix(ci): fix gcloud login for docker
  .github/workflows/docker-main.yaml
Due: deployment

fix workflow
  .github/workflows/docker-main.yaml
Due: deployment

update other workflows
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/release.yaml
Due: deployment

fix(ci): fix gcloud login for docker (#1533)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/release.yaml
Due: deployment

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
