Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

bump envoy-custom
  go.mod
  go.sum
Due: none

bump pomerium/pomerium
  go.mod
  go.sum
Due: none

upgrade core to v0.29.2
  go.mod
  go.sum
Due: none

upgrade core to v0.29.2 (#1135)
  go.mod
  go.sum
Due: none

upgrade image ref
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

upgrade image ref (#1136)
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

bump pomerium
  go.mod
  go.sum
Due: none

upgrade to go v1.24
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/update-core.yaml
  .tool-versions
  Makefile
  go.mod
  go.sum
  pomerium/gateway/backendrefs.go
  pomerium/gateway/filters.go
  tools.go
Due: lint, deployment

upgrade to go v1.24 (#1143)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/update-core.yaml
  .tool-versions
  Makefile
  go.mod
  go.sum
  pomerium/gateway/backendrefs.go
  pomerium/gateway/filters.go
  tools.go
Due: lint, deployment

ci: testing changes to test.yaml
  .github/workflows/test.yaml
Due: deployment

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1121)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1146)
  go.mod
  go.sum
Due: none

Add release notes for v0.29.0 (#1117)
  changelog/v0.29.0.md
Due: none

set core to 0d9ef5bd6133fdbe6988723d6b212c108e7c3ef1
  go.mod
  go.sum
Due: none

assigning svc CLuster IP when svc is a NodePort (#1099)
  controllers/ingress/controller_integration_test.go
  controllers/ingress/reconcile.go
Due: lint

update pomerium/pomerium dependency
  go.mod
  go.sum
Due: none

add depends_on annotation
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

add support for the route 'depends_on' option (#1150)
  go.mod
  go.sum
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

ci: update core to latest commit in main (#1149)
  go.mod
  go.sum
Due: none

go mod tidy
  go.mod
Due: none

upgrade pomerium
  go.mod
  go.sum
Due: none

set core to 15dea4f7afa929a6987ede361201208ad846e281
  go.mod
  go.sum
Due: none

ci: ignore pomerium/pomerium dependency
  .github/dependabot.yaml
Due: deployment

add downstream mtls settings
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  pomerium/config_test.go
  pomerium/sync.go
  reference.md
Due: lint, deployment

ci: ignore pomerium/pomerium dependency (#1156)
  .github/dependabot.yaml
Due: deployment

add downstream mtls settings (#1159)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  pomerium/config_test.go
  pomerium/sync.go
  reference.md
Due: lint, deployment

upgrade core
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update core to latest commit in main (#1151)
  go.mod
  go.sum
Due: none

pomerium: Add tests for Service to Endpoints mapping
  pomerium/routes_test.go
Due: lint

pomerium: Fix Enpoints port mapping
  pomerium/ingress_to_route.go
Due: lint

pomerium: Fix Enpoints port mapping (#1102)
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
Due: lint
