Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

clone slice before setting
  internal/certificate/nameindex.go
Due: lint

ingress-controller: add new certificate name index (#1403)
  internal/certificate/nameindex.go
  internal/certificate/nameindex_test.go
Due: lint

wip
  cmd/common.go
  cmd/controller.go
  config/pomerium/rbac/cluster_role.yaml
  controllers/certificate/controller.go
  controllers/config_controller.go
  go.mod
  go.sum
  internal/certificate/provisioner.go
Due: lint, deployment

address feedback
  internal/certificate/matcher.go
  internal/certificate/matcher_test.go
  internal/certificate/nameindex.go
  internal/certificate/nameindex_test.go
Due: lint

fix
  internal/certificate/matcher.go
  internal/certificate/matcher_test.go
Due: lint

ingress-controller: add certificate matcher (#1404)
  internal/certificate/matcher.go
  internal/certificate/matcher_test.go
  internal/certificate/nameindex.go
  internal/certificate/nameindex_test.go
Due: lint

upgrade core to v0.32.7
  .tool-versions
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

upgrade core to v0.32.7 (#1406)
  .tool-versions
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: none

add controller
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  config/pomerium/rbac/cluster_role.yaml
  controllers/certificate/controller.go
  controllers/certificate/databroker.go
  controllers/certificate/operation.go
  controllers/config_controller.go
  deployment.yaml
  internal/certificate/provisioner.go
  reference.md
Due: lint, deployment

add tests
  controllers/certificate/operation.go
  controllers/certificate/operation_test.go
Due: lint

fixes
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/certificate/controller.go
  controllers/certificate/databroker.go
  deployment.yaml
  reference.md
Due: lint, deployment

ci: update dependencies (#1399)
  .tool-versions
  go.mod
  go.sum
Due: none

ingress-controller/config: remove quic port, add configs for eks and gke (#1401)
  config/http3-eks/README.md
  config/http3-eks/kustomization.yaml
  config/http3-gke/README.md
  config/http3-gke/kustomization.yaml
  config/pomerium/service/proxy.yaml
  deployment.yaml
Due: deployment

remove common name
  internal/certificate/convert.go
  internal/certificate/convert_test.go
Due: lint

ingress-controller: extract certificate and route names from config (#1405)
  internal/certificate/convert.go
  internal/certificate/convert_test.go
  internal/certificate/testdata/amazon.pem
  internal/certificate/testdata/google.pem
Due: lint

ingress-controller: add integration test for certificate controller
  controllers/certificate/controller.go
  controllers/certificate/databroker.go
  controllers/certificate/integration_test.go
  controllers/config_controller.go
  go.mod
  internal/testutil/databroker.go
Due: lint

ci: update dependencies
  go.mod
  go.sum
Due: none

ci: update dependencies (#1408)
  go.mod
  go.sum
Due: none

pass controller name
  controllers/certificate/controller.go
  controllers/config_controller.go
Due: lint

fix double reconciliation
  controllers/certificate/controller.go
Due: lint

update
  controllers/certificate/controller.go
Due: lint

add issuer support
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/certificate/controller.go
  deployment.yaml
  reference.md
Due: lint, deployment

ci: update dependencies (#1411)
  go.mod
  go.sum
Due: none

add ingress annotation for native ssh
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_to_route.go
Due: lint

add unit test, fix an error message bug
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
Due: lint

support hosted authenticate OIDC mode
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  deployment.yaml
  pomerium/config.go
Due: lint, deployment

add ingress annotation for native ssh (#1413)
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
Due: lint

pass certificate controller name
  cmd/all_in_one.go
  cmd/certificate_controller_options.go
  cmd/controller.go
  controllers/config_controller.go
  go.mod
Due: lint

add tests
  controllers/certificate/controller_test.go
Due: lint

ingress-controller: add certificate controller (#1407)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  cmd/all_in_one.go
  cmd/certificate_controller_options.go
  cmd/common.go
  cmd/controller.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  config/pomerium/rbac/cluster_role.yaml
  controllers/certificate/controller.go
  controllers/certificate/controller_test.go
  controllers/certificate/databroker.go
  controllers/certificate/operation.go
  controllers/certificate/operation_test.go
  controllers/config_controller.go
  deployment.yaml
  go.mod
  go.sum
  reference.md
Due: lint, deployment

ingress-controller/ci: use asdf for kustomize
  .github/workflows/test.yaml
  .tool-versions
  Makefile
  scripts/update-dependencies
Due: deployment

ingress-controller/ci: use asdf for kustomize (#1415)
  .github/workflows/test.yaml
  .tool-versions
  Makefile
  scripts/update-dependencies
Due: deployment

pass namespace option
  cmd/certificate_controller_options.go
  controllers/certificate/controller.go
  controllers/certificate/controller_options.go
  controllers/certificate/databroker.go
  controllers/certificate/integration_test.go
  controllers/config_controller.go
Due: lint

ingress-controller: add enable_google_cloud_serverless_authentication annotation
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

add unit tests
  controllers/settings/fetch_test.go
  pomerium/config_test.go
Due: lint

ingress-controller: add enable_google_cloud_serverless_authentication annotation (#1416)
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

Makefile: rerun npm ci when node_modules is missing
  Makefile
Due: none

add CEL validation for IdentityProvider.Secret
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: lint, deployment

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
