Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

ci: update dependencies
  go.mod
  go.sum
Due: none

ci: update dependencies (#1431)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1433)
  go.mod
  go.sum
Due: none

update to main
  go.mod
  go.sum
Due: none

remove conflictPolicy
  Makefile
Due: none

ingress-controller: update sdk (#1432)
  Makefile
  controllers/config_controller.go
  controllers/mock/sdkclient.go
  go.mod
  go.sum
  pomerium/ingress_annotations.go
  pomerium/ingress_to_policy.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
  scripts/update-dependencies
Due: lint

ci: update dependencies
  .tool-versions
Due: none

ci: update dependencies (#1434)
  .tool-versions
Due: none

bump pomerium/pomerium
  go.mod
  go.sum
Due: none

bump pomerium/pomerium (#1440)
  go.mod
  go.sum
Due: none

cmd: --debug-pomerium raises only core log level, not envoy
  cmd/all_in_one.go
Due: lint

cmd: --debug-pomerium raises only core log level, not envoy (#1441)
  cmd/all_in_one.go
Due: lint

sync: query filter should use snake_case
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

ci: update dependencies (#1439)
  go.mod
  go.sum
Due: none

sync: query filter should use snake_case (#1442)
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

upgrade core to v0.32.9 (#1406)
  .tool-versions
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

upgrade core to v0.32.9 (#1406) (#1443)
  .tool-versions
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

WIP -- all-in-one Enterprise API sync
  cmd/all_in_one.go
  cmd/controller.go
  pomerium/ctrl/bootstrap.go
  pomerium/ctrl/config.go
  pomerium/ctrl/run.go
  pomerium/ingress_to_route.go
  pomerium/sync_api.go
Due: lint

config: add CRD-less kustomize variants + CRD sync to install
  .github/workflows/sync-crds-to-install.yaml
  config/clustered-databroker-no-crd/kustomization.yaml
  config/clustered-databroker/kustomization.yaml
  config/components/databroker-cluster/kustomization.yaml
  config/components/databroker-cluster/pdb.yaml
  config/components/databroker-cluster/service/headless.yaml
  config/components/databroker-cluster/service/kustomization.yaml
  config/default-no-crd/kustomization.yaml
Due: deployment

ci: sparse-checkout in CRD sync workflow
  .github/workflows/sync-crds-to-install.yaml
Due: deployment

ci: set explicit GITHUB_TOKEN permissions on CRD sync workflow
  .github/workflows/sync-crds-to-install.yaml
Due: deployment

ci: update dependencies (#1445)
  go.mod
  go.sum
Due: none

sync: fix missing policy annotations
  pomerium/ingress_to_policy.go
  pomerium/ingress_to_policy_test.go
Due: lint

sync: do not clobber bootstrap settings
  cmd/all_in_one.go
  cmd/controller.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

ci: update dependencies (#1448)
  go.mod
  go.sum
Due: none

sync: do not clobber bootstrap settings (#1447)
  cmd/all_in_one.go
  cmd/controller.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

sync: add missing policy annotations (#1446)
  pomerium/ingress_to_policy.go
  pomerium/ingress_to_policy_test.go
Due: lint

ci: update dependencies (#1450)
  go.mod
  go.sum
Due: none

Add CRD-less kustomize variants + CRD sync to install (#1444)
  .github/workflows/sync-crds-to-install.yaml
  config/clustered-databroker-no-crd/kustomization.yaml
  config/clustered-databroker/kustomization.yaml
  config/components/databroker-cluster/kustomization.yaml
  config/components/databroker-cluster/pdb.yaml
  config/components/databroker-cluster/service/headless.yaml
  config/components/databroker-cluster/service/kustomization.yaml
  config/default-no-crd/kustomization.yaml
Due: deployment

ci: update dependencies (#1451)
  go.mod
  go.sum
Due: none

sync: add bootstrap ingress support
  cmd/all_in_one.go
  cmd/controller.go
  cmd/ingress_opts.go
  controllers/ingress/fetch.go
  pomerium/ctrl/bootstrap.go
  pomerium/ctrl/config.go
  pomerium/ctrl/run.go
  pomerium/ingress_to_route.go
  pomerium/sync_api.go
Due: lint

add some unit tests
  pomerium/ctrl/bootstrap_test.go
  pomerium/routes_test.go
  pomerium/sync_api_test.go
Due: lint

sync: handle route failed_precondition error
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

split off unrelated change
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint
