Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

Support for empty host in ingress rules (#941) (#945)
  go.mod
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
Due: lint

Add package comment; fix linter warnings
  go.mod
  util/generic/builder.go
  util/generic/doc.go
Due: lint

Upgrade controller-runtime to v0.15.0 and k8s api to v0.30.0 (#953)
  controllers/ingress/controller.go
  controllers/ingress/controller_integration_test.go
  controllers/ingress/deps.go
  controllers/settings/controller.go
  go.mod
  go.sum
  util/generic/builder.go
  util/generic/doc.go
  util/generic/gvk.go
Due: lint

ci: update core to latest
  go.mod
  go.sum
Due: none

ci: update core to latest (#954)
  go.mod
  go.sum
Due: none

ci: add daily check for core update
  .github/workflows/update-core.yaml
Due: deployment

update
  .github/workflows/update-core.yaml
Due: deployment

ci: add daily check for core update (#955)
  .github/workflows/update-core.yaml
Due: deployment

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#957)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#958)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#959)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#960)
  go.mod
  go.sum
Due: none

ci: set core to v0.26.0, set deployment tags
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update core to latest commit in main (#961)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#962)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#969)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#971)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#972)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#973)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#974)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#975)
  go.mod
  go.sum
Due: none

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
