Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment, docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "CRD.md"
      - id: end-of-file-fixer
        exclude: "(CRD.md|docs/.*|integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false
      - id: docs
        name: generate docs
        fail_fast: true
        language: system
        entry: make
        args: ["docs"]
        types: ["yaml"]
        pass_filenames: false

bump core to v0.22.3
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

bump docker image
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

add docs refs to log fields options
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
Due: lint, deployment, docs

add docs refs to log fields options (#718)
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
Due: lint, deployment, docs

set core to v0.23.0
  go.mod
  go.sum
Due: none

ci: increase yarn network timeout
  Makefile
Due: none

ci: increase yarn network timeout (#731)
  Makefile
Due: none

ci: another place to increase yarn timeout
  Dockerfile
Due: none

ci: another place to increase yarn timeout (#733)
  Dockerfile
Due: none

pin to v0.23.0 docker image
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

fix nil reference in timeouts section
  pomerium/config.go
Due: lint

fix nil reference in timeouts section (#750)
  pomerium/config.go
Due: lint

set docker image version
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

upgrade envoy to v1.27.1
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

upgrade envoy to v1.27.1 (#773)
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

upgrade envoy to v1.28.0
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

upgrade envoy to v1.28.0 (#774)
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

ci: build release binaries outside of docker
  .github/workflows/docker-main.yaml
  Dockerfile.ci
Due: deployment, docs

update docker-version-branches.yaml as well
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

Use `kustomize edit fix` to update resources.
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/gen_secrets/kustomization.yaml
  config/pomerium/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/stress-test/kustomization.yaml
Due: deployment, docs

Cleanup automated formatting
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/gen_secrets/kustomization.yaml
  config/pomerium/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/stress-test/kustomization.yaml
Due: deployment, docs

restore generate step
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

Cleanup missed files
  config/pomerium/deployment/kustomization.yaml
  config/pomerium/rbac/kustomization.yaml
  config/pomerium/service/kustomization.yaml
  config/stress-test/rbac/kustomization.yaml
Due: deployment, docs

Fix accidental patch
  config/pomerium/deployment/kustomization.yaml
Due: deployment, docs

Revert "Fix accidental patch"
  config/pomerium/deployment/kustomization.yaml
Due: deployment, docs

Added reference to pomerium prometheus resources as a kustomize component
  config/components/prometheus/kustomization.yaml
Due: deployment, docs

upgrade go to 1.21
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
  .tool-versions
  Dockerfile
  go.mod
  go.sum
Due: deployment, docs

update pomerium core to latest
  go.mod
  go.sum
Due: none

upgrade go to 1.21 (#799)
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
  .tool-versions
  Dockerfile
  go.mod
  go.sum
Due: deployment, docs

update pomerium core to latest (#801)
  go.mod
  go.sum
Due: none

ci: build release binaries outside of docker (#778)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  Dockerfile.ci
Due: deployment, docs

ci: fetch envoy before generate step
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

invoke get-envoy.bash directly
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

ci: fetch envoy before generate step (#805)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

update docker-build make target
  .github/workflows/test.yaml
  Dockerfile
  Dockerfile.ci
  Makefile
Due: deployment, docs

make: update docker-build target (#806)
  .github/workflows/test.yaml
  Dockerfile
  Dockerfile.ci
  Makefile
Due: deployment, docs

ci: replace action-pull-request-another-repo
  .github/workflows/docs.yaml
  scripts/open-docs-pull-request.sh
Due: deployment, docs
