Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

add tolerations
  terraform/deployment.tf
  terraform/gen_secrets.tf
  terraform/services.tf
  terraform/variables.tf
Due: none

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

add proxy service port remapping
  terraform/deployment.tf
  terraform/gen_secrets.tf
  terraform/services.tf
  terraform/variables.tf
Due: none

add node selectors
  terraform/deployment.tf
  terraform/gen_secrets.tf
  terraform/locals.tf
  terraform/variables.tf
Due: none

remove empty boilerplate file
  Makefile
  hack/boilerplate.go.txt
Due: none

skip proxy service creation by setting proxy_service_type=null, add proxy_node_port_https option for NodePort service type
  terraform/services.tf
  terraform/variables.tf
Due: none

ingress-controller/config: support go durations in annotations (#1047)
  cspell.config.yaml
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
Due: lint, deployment

set version to v0.27.2
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: remove 'make lint' step from Test workflow (#1043)
  .github/workflows/test.yaml
Due: deployment

ci: remove 'make lint' step from Test workflow (#1043) (#1053)
  .github/workflows/test.yaml
Due: deployment

ingress-controller/config: support go durations in annotations (#1047) (#1051)
  cspell.config.yaml
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
Due: lint, deployment

set version to v0.27.2 (#1052)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

WIP -- starting a Gateway controller
  controllers/gateway/controller.go
  controllers/gateway/fetch.go
  go.mod
  go.sum
  pomerium/reconcile.go
Due: lint

remove empty boilerplate file (#1050)
  Makefile
  hack/boilerplate.go.txt
Due: none

WIP -- big mess
  Makefile
  apis/ingress/v1/policy_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  cmd/common.go
  cmd/controller.go
  config/crd/bases/ingress.pomerium.io_policies.yaml
  config/pomerium/deployment/image.yaml
  config/pomerium/rbac/role.yaml
  controllers/config_controller.go
  controllers/gateway/controller.go
  controllers/gateway/gatewayclass.go
  model/gateway_config.go
  pomerium/gateway/backendrefs.go
  pomerium/gateway/filters.go
  pomerium/gateway/matches.go
  pomerium/gateway/translate.go
  pomerium/reconcile.go
  pomerium/sync.go
Due: lint, deployment

first passing conformance test
  cmd/all_in_one.go
  controllers/gateway/controller.go
  controllers/gateway/listener.go
  model/gateway_config.go
  pomerium/gateway/backendrefs.go
  pomerium/gateway/translate.go
  pomerium/sync.go
Due: lint

refactor, validate listener certificateRefs
  config/crd/kustomization.yaml
  controllers/config_controller.go
  controllers/gateway/controller.go
  controllers/gateway/listener.go
  pomerium/gateway/backendrefs.go
  pomerium/gateway/translate.go
Due: lint, deployment

refactor, fix condition handling
  controllers/gateway/conditions.go
  controllers/gateway/controller.go
  controllers/gateway/gatewayclass.go
Due: lint

refactor: extract refKey to its own file
  controllers/gateway/controller.go
  controllers/gateway/refkey.go
Due: lint

refactor, more status implementation
  cmd/common.go
  cmd/controller.go
  config/pomerium/rbac/role.yaml
  controllers/config_controller.go
  controllers/gateway/controller.go
  controllers/gateway/fetch.go
  controllers/gateway/gateway.go
  controllers/gateway/httproute.go
  controllers/gateway/listener.go
  pomerium/sync.go
Due: lint, deployment

fix listener/route hostname matching
  controllers/gateway/httproute.go
Due: lint

more validation/status implementation
  config/pomerium/rbac/role.yaml
  controllers/gateway/conditions.go
  controllers/gateway/controller.go
  controllers/gateway/fetch.go
  controllers/gateway/gateway.go
  controllers/gateway/httproute.go
  controllers/gateway/listener.go
  controllers/gateway/refkey.go
Due: lint, deployment

start to implement ReferenceGrant checks
  config/pomerium/service/proxy.yaml
  controllers/gateway/fetch.go
  controllers/gateway/gateway.go
  controllers/gateway/httproute.go
  controllers/gateway/listener.go
  controllers/gateway/referencegrant.go
  controllers/gateway/refkey.go
  model/gateway_config.go
  pomerium/gateway/backendrefs.go
  pomerium/gateway/filters.go
  pomerium/gateway/translate.go
  pomerium/sync.go
Due: lint, deployment

check valid backendRefs, certificate ref permissions
  controllers/gateway/gateway.go
  controllers/gateway/httproute.go
  controllers/gateway/listener.go
  controllers/gateway/referencegrant.go
  model/gateway_config.go
  pomerium/gateway/backendrefs.go
  pomerium/gateway/translate.go
  pomerium/sync.go
Due: lint

better http/https switching hack, few fixes
  controllers/gateway/fetch.go
  controllers/gateway/gateway.go
  controllers/gateway/httproute.go
  controllers/gateway/listener.go
  go.mod
  model/gateway_config.go
  pomerium/gateway/backendrefs.go
  pomerium/gateway/matches.go
  pomerium/gateway/translate.go
  pomerium/sync.go
Due: lint

update the pomerium/pomerium dependency
  go.mod
  go.sum
Due: none

fix weighted URL handling
  pomerium/gateway/backendrefs.go
Due: lint

fix route status, headless service support
  controllers/gateway/fetch.go
  controllers/gateway/gateway.go
  controllers/gateway/httproute.go
  model/gateway_config.go
  pomerium/gateway/backendrefs.go
Due: lint

ci: update core to latest commit in main (#1046)
  go.mod
  go.sum
Due: none

gateway: add a new api group
  Makefile
  apis/gateway/v1alpha1/filter_types.go
  apis/gateway/v1alpha1/groupversion_info.go
  apis/gateway/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/gateway.pomerium.io_policyfilters.yaml
Due: lint, deployment

lint
  apis/gateway/v1alpha1/filter_types.go
Due: lint

remove validation and defaults
  apis/gateway/v1alpha1/filter_types.go
  config/crd/bases/gateway.pomerium.io_policyfilters.yaml
Due: lint, deployment

remove unnecessary nolint directive
  apis/gateway/v1alpha1/filter_types.go
Due: lint

ci/Makefile: allow override envtest versions via env variables
  Makefile
Due: none

k8s: upgrade to v0.31.0
  controllers/ingress/controller_integration_test.go
  go.mod
  go.sum
Due: lint

k8s: upgrade to v0.31.0 (#1062)
  controllers/ingress/controller_integration_test.go
  go.mod
  go.sum
Due: lint

ci/Makefile: allow override envtest versions via env variables (#1060)
  Makefile
Due: none
