Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment, docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "CRD.md"
      - id: end-of-file-fixer
        exclude: "(CRD.md|docs/.*|integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false
      - id: docs
        name: generate docs
        fail_fast: true
        language: system
        entry: make
        args: ["docs"]
        types: ["yaml"]
        pass_filenames: false

ci: replace action-pull-request-another-repo (#807)
  .github/workflows/docs.yaml
  scripts/open-docs-pull-request.sh
Due: deployment, docs

core: bump to latest
  go.mod
  go.sum
Due: none

set core and image to 0-24-0
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment, docs

bump
  go.mod
  go.sum
Due: none

set core and image to 0-24-0 (#810)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment, docs

ingress-controller/config: add pass_identity_headers option
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ingress_annotations_test.go
Due: lint, deployment, docs

set option to nil
  pomerium/config.go
Due: lint

update deployment
  deployment.yaml
Due: deployment, docs

ingress-controller/config: add pass_identity_headers option (#811)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ingress_annotations_test.go
Due: lint, deployment, docs

update core to 24 latest
  go.mod
  go.sum
Due: none

update core to 24 latest (#813)
  go.mod
  go.sum
Due: none

ci: add release.yaml, rm changelog.sh
  scripts/changelog.sh
Due: none

ci: add release.yaml, rm changelog.sh
  .github/release.yaml
Due: deployment, docs

ci: add release.yaml, rm changelog.sh (#814)
  .github/release.yaml
  scripts/changelog.sh
Due: deployment, docs

set core to v0.24.0
  go.mod
  go.sum
Due: none

set core to v0.24.0 (#816)
  go.mod
  go.sum
Due: none

ci: pin v0.24.0 core
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

set core to main
  go.mod
  go.sum
Due: none

set core to main (#834)
  go.mod
  go.sum
Due: none

ingress-controller/config: remove redis
  apis/ingress/v1/deprecation.go
  apis/ingress/v1/deprecation_test.go
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  controllers/settings/fetch_test.go
  deployment.yaml
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
  reference.md
Due: lint, deployment, docs

fix whitespace
  reference.md
Due: none

ingress-controller/config: remove redis (#835)
  apis/ingress/v1/deprecation.go
  apis/ingress/v1/deprecation_test.go
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  controllers/settings/fetch_test.go
  deployment.yaml
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
  reference.md
Due: lint, deployment, docs

ingress-controller/ci: upgrade golangci-lint
  .github/workflows/lint.yml
  Makefile
  go.mod
  go.sum
  tools.go
  util/restart_test.go
Due: lint, deployment, docs

add deps
  .github/workflows/lint.yml
Due: deployment, docs

ingress-controller/ci: upgrade golangci-lint (#836)
  .github/workflows/lint.yml
  Makefile
  go.mod
  go.sum
  tools.go
  util/restart_test.go
Due: lint, deployment, docs

docs: update pass identity headers reference link
  apis/ingress/v1/pomerium_types.go
Due: lint

update manifests
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: deployment, docs

docs: update pass identity headers reference link (#837)
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: lint, deployment, docs

ci: use standard runners
  .github/workflows/backport.yaml
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
Due: deployment, docs

fix group
  .github/workflows/backport.yaml
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
Due: deployment, docs

ci: use standard runners (#840)
  .github/workflows/backport.yaml
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
Due: deployment, docs

ci: set pomerium core version
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  Dockerfile.ci
  Makefile
Due: deployment, docs

version-branches
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

add release action
  .github/workflows/release.yaml
Due: deployment, docs

ci: set pomerium core version (#857)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  Dockerfile.ci
  Makefile
Due: deployment, docs

ci: publish versioned docker images (#858)
  .github/workflows/release.yaml
Due: deployment, docs

bump core to latest
  go.mod
  go.sum
Due: none

ci: add setup-go action to build-docker
  .github/workflows/test.yaml
Due: deployment, docs

ci: add setup-go action to build-docker job (#861)
  .github/workflows/test.yaml
Due: deployment, docs
