Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

ci: update core to latest commit in main (#1066)
  go.mod
  go.sum
Due: none

add a PolicyFilterList as well
  apis/gateway/v1alpha1/filter_types.go
  apis/gateway/v1alpha1/zz_generated.deepcopy.go
Due: lint

gateway: add a new api group (#1058)
  Makefile
  apis/gateway/v1alpha1/filter_types.go
  apis/gateway/v1alpha1/groupversion_info.go
  apis/gateway/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/gateway.pomerium.io_policyfilters.yaml
Due: lint, deployment

gateway: add config/gateway-api kustomization
  config/gateway-api/kustomization.yaml
  config/gateway-api/role_patch.yaml
Due: deployment

add permissions for PolicyFilter objects
  config/gateway-api/role_patch.yaml
Due: deployment

gateway: add config/gateway-api kustomization (#1065)
  config/gateway-api/kustomization.yaml
  config/gateway-api/role_patch.yaml
Due: deployment

initial gateway reconcile logic
  cspell.config.yaml
  go.mod
  go.sum
  model/gateway_config.go
  pomerium/gateway/backendrefs.go
  pomerium/gateway/filters.go
  pomerium/gateway/matches.go
  pomerium/gateway/translate.go
  pomerium/reconcile.go
  pomerium/sync.go
Due: lint, deployment

pin envtest version in the test workflow
  .github/workflows/test.yaml
Due: deployment

review feedback
  pomerium/gateway/backendrefs.go
Due: lint

initial gateway reconcile logic (#1059)
  .github/workflows/test.yaml
  cspell.config.yaml
  go.mod
  go.sum
  model/gateway_config.go
  pomerium/gateway/backendrefs.go
  pomerium/gateway/filters.go
  pomerium/gateway/matches.go
  pomerium/gateway/translate.go
  pomerium/reconcile.go
  pomerium/sync.go
Due: lint, deployment

lint / cspell
  controllers/gateway/controller.go
  controllers/gateway/fetch.go
  controllers/gateway/gateway.go
  controllers/gateway/httproute.go
  controllers/gateway/listener.go
Due: lint

gateway: controller implementation
  controllers/gateway/conditions.go
  controllers/gateway/controller.go
  controllers/gateway/fetch.go
  controllers/gateway/gateway.go
  controllers/gateway/gatewayclass.go
  controllers/gateway/httproute.go
  controllers/gateway/listener.go
  controllers/gateway/referencegrant.go
  controllers/gateway/refkey.go
Due: lint

gateway: add GatewayClass to kustomization
  config/gateway-api/gatewayclass.yaml
  config/gateway-api/kustomization.yaml
Due: deployment

propagate any status update errors
  controllers/gateway/controller.go
  controllers/gateway/gateway.go
Due: lint

gateway: controller implementation (#1063)
  controllers/gateway/conditions.go
  controllers/gateway/controller.go
  controllers/gateway/fetch.go
  controllers/gateway/gateway.go
  controllers/gateway/gatewayclass.go
  controllers/gateway/httproute.go
  controllers/gateway/listener.go
  controllers/gateway/referencegrant.go
  controllers/gateway/refkey.go
Due: lint

gateway: new command-line options
  cmd/all_in_one.go
  cmd/common.go
  cmd/controller.go
  cmd/ingress_opts.go
  controllers/config_controller.go
  controllers/gateway/controller.go
Due: lint

be consistent in error message
  controllers/gateway/controller.go
Due: lint

gateway: new command-line options (#1064)
  cmd/all_in_one.go
  cmd/common.go
  cmd/controller.go
  cmd/ingress_opts.go
  controllers/config_controller.go
  controllers/gateway/controller.go
Due: lint

fix lint warning and run `make deployment`
  deployment.yaml
  pomerium/gateway/filters.go
Due: lint, deployment

gateway: policy filter implementation
  cmd/common.go
  config/crd/kustomization.yaml
  controllers/gateway/controller.go
  controllers/gateway/extensionfilters.go
  controllers/gateway/fetch.go
  controllers/gateway/gateway.go
  model/gateway_config.go
  pomerium/gateway/filters.go
  pomerium/gateway/translate.go
  pomerium/sync.go
Due: lint, deployment

propagate status update errors
  controllers/gateway/extensionfilters.go
  controllers/gateway/gateway.go
Due: lint

set HTTP error response for invalid filter
  pomerium/gateway/filters.go
  pomerium/gateway/translate.go
  pomerium/sync.go
Due: lint

gateway: policy filter implementation (#1067)
  cmd/common.go
  config/crd/kustomization.yaml
  controllers/gateway/controller.go
  controllers/gateway/extensionfilters.go
  controllers/gateway/fetch.go
  controllers/gateway/gateway.go
  deployment.yaml
  model/gateway_config.go
  pomerium/gateway/filters.go
  pomerium/gateway/translate.go
  pomerium/sync.go
Due: lint, deployment

gateway: add GatewayClass to kustomization (#1068)
  config/gateway-api/gatewayclass.yaml
  config/gateway-api/kustomization.yaml
Due: deployment

upgrade to v0.28.0
  go.mod
  go.sum
Due: none

upgrade to v0.28.0 (#1069)
  go.mod
  go.sum
Due: none

tag image
  config/gen_secrets/job.yaml
  config/pomerium/deployment/image.yaml
  config/stress-test/deployment.yaml
  deployment.yaml
Due: deployment

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1070)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1072)
  go.mod
  go.sum
Due: none

bump core to 699679bc574c9000d40fffb79b4bc46054c868e9
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1073)
  go.mod
  go.sum
Due: none

add support for udp routes
  go.mod
  go.sum
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_to_route.go
Due: lint

ci: update core to latest commit in main (#1078)
  go.mod
  go.sum
Due: none

add support for udp routes (#1079)
  go.mod
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_to_route.go
Due: lint
