Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment, docs

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

docs:
  name: generate docs
  fail_fast: true
  language: system
  entry: make
  args:
  - docs
  pass_filenames: false

bump core to latest (#860)
  go.mod
  go.sum
Due: none

make github actions use go 1.21
  .github/workflows/docker-main.yaml
  .github/workflows/release.yaml
Due: deployment, docs

also in version branches
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

rm build-docker step in test workflow
  .github/workflows/test.yaml
Due: deployment, docs

make github actions use go 1.21 (#863)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: deployment, docs

upgrade deprecated kustomization rules
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/gen_secrets/kustomization.yaml
  config/pomerium/deployment/kustomization.yaml
  config/pomerium/kustomization.yaml
  config/pomerium/rbac/kustomization.yaml
  config/pomerium/service/kustomization.yaml
  config/prometheus/monitor.yaml
Due: deployment, docs

pod monitor
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
Due: deployment, docs

add gke podmonitoring example
  config/prometheus/coreos-podmonitor.yaml
  config/prometheus/gke-podmonitor.yaml
Due: deployment, docs

set core to v0.25
  go.mod
  go.sum
Due: none

set core to v0.25 (#865)
  go.mod
  go.sum
Due: none

upgrade deprecated kustomization rules (#864)
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/gen_secrets/kustomization.yaml
  config/pomerium/deployment/kustomization.yaml
  config/pomerium/kustomization.yaml
  config/pomerium/rbac/kustomization.yaml
  config/pomerium/service/kustomization.yaml
  config/prometheus/coreos-podmonitor.yaml
  config/prometheus/gke-podmonitor.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
Due: deployment, docs

set docker image target to v0.25.0
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

set docker image target to v0.25.0 (#866)
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

ci: fix docker image version tag check
  .github/workflows/release.yaml
Due: deployment, docs

ci: fix docker image version tag check (#867)
  .github/workflows/release.yaml
Due: deployment, docs

ci: check image tag
  .github/workflows/release.yaml
Due: deployment, docs

add script
  scripts/check-image-tag.sh
Due: none

ci: check image tag (#869)
  .github/workflows/release.yaml
  scripts/check-image-tag.sh
Due: deployment, docs

ingress-controller/ci: check docker base images
  scripts/check-docker-images
Due: none

improved check
  scripts/check-docker-images
Due: none

fix variable
  scripts/check-docker-images
Due: none

fix check
  scripts/check-docker-images
Due: none

ingress-controller/settings: remove cookie secure option
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  reference.md
Due: lint, deployment, docs

fix newlines
  reference.md
Due: none

ingress-controller/settings: remove cookie secure option (#872)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  reference.md
Due: lint, deployment, docs

ingress-controller/ci: check docker base images (#871)
  scripts/check-docker-images
Due: none

ingress-controller/config: fix disabled set response headers
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

use distroless noroot user and group
  config/pomerium/deployment/no-root.yaml
  deployment.yaml
Due: deployment, docs

ingress-controller/config: fix disabled set response headers (#877)
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

use distroless noroot user and group (#878)
  config/pomerium/deployment/no-root.yaml
  deployment.yaml
Due: deployment, docs

update core to latest main
  go.mod
  go.sum
Due: none

update core to latest main (#880)
  go.mod
  go.sum
Due: none

updates core to latest
  go.mod
  go.sum
Due: none

updates core to latest (#895)
  go.mod
  go.sum
Due: none

update versions and resolve compile conflicts
  Makefile
  cmd/all_in_one.go
  cmd/controller.go
  cmd/controller_test.go
  controllers/deps/deps.go
  controllers/ingress/controller.go
  controllers/ingress/controller_integration_test.go
  controllers/ingress/deps.go
  controllers/mock/client.go
  controllers/settings/controller.go
  controllers/settings/integration_test.go
  go.mod
  go.sum
Due: lint

fix makefiles and tests
  .pre-commit-config.yaml
  Makefile
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/ingress/controller_integration_test.go
  deployment.yaml
  go.mod
  go.sum
Due: lint, deployment, docs

rm mocks generation steps
  .pre-commit-config.yaml
  Makefile
Due: deployment, docs

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
  docs: any of: \.(yaml|yml)$
