Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment, docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "CRD.md"
      - id: end-of-file-fixer
        exclude: "(CRD.md|docs/.*|integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false
      - id: docs
        name: generate docs
        fail_fast: true
        language: system
        entry: make
        args: ["docs"]
        types: ["yaml"]
        pass_filenames: false

add cspell pre-commit hook
  .pre-commit-config.yaml
  Makefile
  apis/ingress/v1/pomerium_types.go
  controllers/ingress/controller.go
  controllers/settings/controller.go
  controllers/settings/fetch_test.go
  cspell.config.yaml
  go.mod
  internal/init.go
  model/registry.go
  pomerium/ingress_to_route.go
  util/namespaced_name_test.go
Due: lint, deployment, docs

rm runaway comment
  .pre-commit-config.yaml
Due: deployment, docs

config: add certificate authorities
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  deployment.yaml
  model/ingress_config.go
  pomerium/config.go
  pomerium/ctrl/run.go
Due: lint, deployment, docs

add cspell pre-commit hook (#484)
  .pre-commit-config.yaml
  Makefile
  apis/ingress/v1/pomerium_types.go
  controllers/ingress/controller.go
  controllers/settings/controller.go
  controllers/settings/fetch_test.go
  cspell.config.yaml
  go.mod
  internal/init.go
  model/registry.go
  pomerium/ingress_to_route.go
  util/namespaced_name_test.go
Due: lint, deployment, docs

config: add certificate authorities (#485)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  deployment.yaml
  model/ingress_config.go
  pomerium/config.go
  pomerium/ctrl/run.go
Due: lint, deployment, docs

bump core to v0.21.0-rc1
  go.mod
  go.sum
Due: none

bump core to v0.21.0-rc1 (#493)
  go.mod
  go.sum
Due: none

push release branches to the dockerhub
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

bump core to v0.21.0-rc2
  go.mod
  go.sum
Due: none

bump core to v0.21.0-rc2 (#501)
  go.mod
  go.sum
Due: none

push release branches to the dockerhub (#502)
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

use release branch image tag temporarily
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

fix logging for ingresses that are not managed by us
  controllers/ingress/controller_integration_test.go
  controllers/ingress/reconcile.go
  controllers/mock/pomerium_ingress_reconciler.go
  controllers/reporter/ingress.go
  controllers/reporter/reporter.go
  go.mod
  pomerium/reconcile.go
  pomerium/sync.go
Due: lint

set core to main and envoy to 1.25
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

fix logging for ingresses that are not managed by us (#530)
  controllers/ingress/controller_integration_test.go
  controllers/ingress/reconcile.go
  controllers/mock/pomerium_ingress_reconciler.go
  controllers/reporter/ingress.go
  controllers/reporter/reporter.go
  go.mod
  pomerium/reconcile.go
  pomerium/sync.go
Due: lint

fix logging for ingresses that are not managed by us (#530)
  controllers/ingress/controller_integration_test.go
  controllers/ingress/reconcile.go
  controllers/mock/pomerium_ingress_reconciler.go
  controllers/reporter/ingress.go
  controllers/reporter/reporter.go
  go.mod
  go.sum
  pomerium/reconcile.go
  pomerium/sync.go
Due: lint

fix logging for ingresses that are not managed by us (#530) (#532)
  controllers/ingress/controller_integration_test.go
  controllers/ingress/reconcile.go
  controllers/mock/pomerium_ingress_reconciler.go
  controllers/reporter/ingress.go
  controllers/reporter/reporter.go
  go.mod
  go.sum
  pomerium/reconcile.go
  pomerium/sync.go
Due: lint

set core to main and envoy to 1.25 (#531)
  .gitignore
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

bump core to v0.21.1
  go.mod
  go.sum
Due: none

bump docker image to v0.21.1
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

bump core to enable authenticate jwks key fetch from inside port-mapped container
  go.mod
  go.sum
Due: none

fix jwks url, support external authenticate
  apis/ingress/v1/deprecation_test.go
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/ingress/controller_integration_test.go
  controllers/settings/fetch.go
  controllers/settings/fetch_test.go
  controllers/settings/integration_test.go
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
Due: lint, deployment, docs

use server address from bootstrap config
  pomerium/ctrl/bootstrap.go
Due: lint

bump to core pr #4008
  go.mod
  go.sum
Due: none

bump core to latest main
  go.mod
  go.sum
Due: none

support external authenticate (#534)
  apis/ingress/v1/deprecation_test.go
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/ingress/controller_integration_test.go
  controllers/settings/fetch.go
  controllers/settings/fetch_test.go
  controllers/settings/integration_test.go
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
Due: lint, deployment, docs

support external authenticate (#534) (#539)
  apis/ingress/v1/deprecation_test.go
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/ingress/controller_integration_test.go
  controllers/settings/fetch.go
  controllers/settings/fetch_test.go
  controllers/settings/integration_test.go
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
Due: lint, deployment, docs

ci: use large gh runners
  .github/workflows/backport.yaml
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
Due: deployment, docs

fix runner
  .github/workflows/test.yaml
Due: deployment, docs

ci: use large gh runners (#540)
  .github/workflows/backport.yaml
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
Due: deployment, docs

bump docker image to match
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment, docs

set main manifests to point to main docker image
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

set main manifests to point to main docker image (#541)
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

upgrade kubernetes to v1.26
  controllers/ingress/controller_integration_test.go
  controllers/ingress/reconcile.go
  controllers/mock/client.go
  go.mod
  go.sum
Due: lint

upgrade kubernetes to v1.26 (#543)
  controllers/ingress/controller_integration_test.go
  controllers/ingress/reconcile.go
  controllers/mock/client.go
  go.mod
  go.sum
Due: lint

bump core
  go.mod
  go.sum
Due: none
