Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

ci: update core to latest commit in main (#1245)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1247)
  go.mod
  go.sum
Due: none

config: sort certs to prevent churn
  go.sum
  pomerium/certs.go
  pomerium/deterministic.go
  pomerium/deterministic_test.go
  pomerium/sync.go
Due: lint

rm certs.go
  pomerium/certs.go
Due: lint

lint
  pomerium/deterministic.go
Due: lint

gomod
  go.sum
Due: none

config: sort certs to prevent churn (#1246)
  pomerium/deterministic.go
  pomerium/deterministic_test.go
  pomerium/sync.go
Due: lint

remove authenticate callback path
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  pomerium/config.go
  reference.md
Due: lint, deployment

fix eol
  reference.md
Due: none

fix deployment
  deployment.yaml
Due: deployment

ci: update core to latest commit in main (#1249)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  reference.md
Due: lint, deployment

remove authenticate callback path
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  reference.md
Due: lint, deployment

set core to v0.31.0
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

remove authenticate callback path (#1250)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  reference.md
Due: lint, deployment

set core to v0.31.0 (#1253)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

add generate rule
  Makefile
  docs/cmd/main.go
  docs/templates/header.tmpl
  docs/templates/object-properties.tmpl
  docs/templates/object.tmpl
  docs/templates/objects.tmpl
  go.mod
  go.sum
  reference.md
Due: lint

add reusable-build
  .github/workflows/build.yaml
  .github/workflows/lint.yml
  .github/workflows/reusable-build.yaml
  .github/workflows/test.yaml
  Makefile
Due: deployment

prepare for v0.31.1 release
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

pin setup-envtest release version
  Makefile
Due: none

pin setup-envtest module version (#1256)
  Makefile
Due: none

prepare for v0.31.1 release (#1255)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

prepare for v0.30.7 release
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

prepare for v0.30.7 release (#1259)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update core to latest commit in main (#1251)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1260)
  go.mod
  go.sum
Due: none

bump pomerium
  go.mod
  go.sum
Due: none

update
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

ci: update core to latest commit in main (#1261)
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
