Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1161)
  go.mod
  go.sum
Due: none

set core to 8e35f5d4fcc4ae0d7245689b8d513653decf825a
  go.mod
  go.sum
Due: none

update to v0.29.4
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

update to v0.29.4 (#1163)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

upgrade core
  go.mod
  go.sum
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

upgrade core (#1168)
  go.mod
  go.sum
Due: none

add circuit breaker thresholds
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint, deployment

Add cloudsmith to places we push images
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/release.yaml
Due: deployment

lint workflows when they're changed
  .github/workflows/lint-workflows.yaml
Due: deployment

add circuit breaker thresholds (#1171)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint, deployment

pick up 5654 from core
  go.mod
  go.sum
Due: none

pick up 5654 from core (#1173)
  go.mod
  go.sum
Due: none

fix image address for cloudsmith
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/release.yaml
Due: deployment

OPE-145 Push ingress controller to cloudsmith (#1172)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/lint-workflows.yaml
  .github/workflows/release.yaml
Due: deployment

add ssh settings
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  cmd/all_in_one.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  config/ssh/kustomization.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  reference.md
Due: lint, deployment

ci: update core to latest commit in main (#1162)
  go.mod
  go.sum
Due: none

use secrets
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  deployment.yaml
  model/ingress_config.go
  pomerium/config.go
Due: lint, deployment

add ssh settings (#1175)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  cmd/all_in_one.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  config/ssh/kustomization.yaml
  controllers/settings/fetch.go
  deployment.yaml
  go.mod
  go.sum
  model/ingress_config.go
  pomerium/config.go
  reference.md
Due: lint, deployment

wip
  Makefile
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

split
  pomerium/ingress_annotations.go
Due: lint

set nil
  pomerium/ingress_annotations.go
Due: lint

ci: update core to latest commit in main (#1176)
  go.mod
  go.sum
Due: none

fix preserve server if secret is set
  pomerium/ingress_annotations.go
Due: lint

fix: persistence docs link in pomerium CR status
  pomerium/config.go
Due: lint

fix: persistence docs link in pomerium CR status (#1184)
  pomerium/config.go
Due: lint

add mcp ingress annotations (#1178)
  Makefile
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

changelog for v0.30.0
  changelog/v0.30.0.md
Due: none

formatting fix
  changelog/v0.30.0.md
Due: none

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
