Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

kustomize config for syncing to Pomerium Zero
  config/zero/kustomization.yaml
  config/zero/pomerium.yaml
Due: deployment

review feedback
  cmd/all_in_one.go
  pomerium/sync_api.go
  util/object.go
Due: lint

sync: add bootstrap ingress support (#1449)
  cmd/all_in_one.go
  cmd/controller.go
  cmd/ingress_opts.go
  controllers/ingress/fetch.go
  pomerium/ctrl/bootstrap.go
  pomerium/ctrl/bootstrap_test.go
  pomerium/ctrl/config.go
  pomerium/ctrl/run.go
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
  util/object.go
Due: lint

sync: add --sync-api-namespace-id option
  cmd/all_in_one.go
  cmd/controller.go
  cmd/ingress_opts.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

delete/recreate routes + policies on namespace change
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

sync: handle route failed_precondition error (#1452)
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

ci: update dependencies
  go.mod
  go.sum
Due: none

ci: update dependencies (#1453)
  go.mod
  go.sum
Due: none

can't delete policy until after deleting routes
  pomerium/sync_api.go
Due: lint

delete/recreate key pair on namespace ID change
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

unit test for key pair recreate
  pomerium/sync_api_test.go
Due: lint

fix tests
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

sync: add --sync-api-namespace-id option (#1454)
  cmd/all_in_one.go
  cmd/controller.go
  cmd/ingress_opts.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

all-in-one: add hidden --debug-port flag to pin the debug listener port
  cmd/all_in_one.go
Due: lint

all-in-one: validate --debug-port is a valid port number
  cmd/all_in_one.go
Due: lint

feat: add --version subcommand
  Makefile
  cmd/root.go
  internal/version/version.go
Due: lint

docs: standardize PROXY protocol capitalization
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  reference.md
Due: lint, deployment

docs: standardize PROXY protocol capitalization (#1464)
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  reference.md
Due: lint, deployment

fix: resolve all-in-one otel Schema URL startup panic
  cmd/all_in_one_tracing_test.go
  go.mod
  go.sum
Due: lint

chore: add semconv to cspell dictionary
  cspell.config.yaml
Due: deployment

fix: resolve all-in-one otel Schema URL startup panic (#1466)
  cmd/all_in_one_tracing_test.go
  cspell.config.yaml
  go.mod
  go.sum
Due: lint, deployment

all-in-one: shorten --debug-port flag description to satisfy lll lint
  cmd/all_in_one.go
Due: lint

all-in-one: add hidden --debug-port flag to pin the debug listener port (#1462)
  cmd/all_in_one.go
Due: lint

feat: add --version subcommand (#1463)
  Makefile
  cmd/root.go
  internal/version/version.go
Due: lint

feat(session_recording): configure dyn ext from pomerium ingress CR
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
Due: lint, deployment

feat(session_recording): configure dyn ext from pomerium ingress CR (#1468)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
Due: lint, deployment

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
  reference.md
Due: none

ci: update dependencies (#1461)
  .tool-versions
  go.mod
  go.sum
  reference.md
Due: none

ci: update dependencies (#1472)
  go.mod
  go.sum
Due: none

ci: update Go toolchain to 1.26.5 (#1471)
  .tool-versions
Due: none

cmd: add zero-managed mode to all-in-one command
  cmd/all_in_one.go
  go.mod
  go.sum
Due: lint

feat(ingress): add --max-concurrent-reconciles flag
  cmd/ingress_opts.go
  controllers/ingress/concurrency_test.go
  controllers/ingress/controller.go
Due: lint

fix(envoy): cache last validated config to skip redundant validation
  pomerium/envoy/validate_cache.go
  pomerium/envoy/validate_cache_test.go
  pomerium/envoy/validate_envoy.go
Due: lint

fix(sync): avoid O(n^2) envoy validation during initial sync
  pomerium/sync_databroker.go
  pomerium/sync_test.go
  pomerium/validate.go
Due: lint

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
