Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

crd: add runtimeFlags (#1010)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  pomerium/ctrl/bootstrap.go
Due: lint, deployment

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

crd: add runtimeFlags (#1010) (#1012)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  pomerium/ctrl/bootstrap.go
Due: lint, deployment

ci: avoid opening multiple "update core" PRs (#1011)
  .github/workflows/update-core.yaml
Due: deployment

ci: update core to latest commit in main (#1013)
  go.mod
  go.sum
Due: none

set image to v0.26.2
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

ci: update core to latest commit in main (#1014)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1017)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1022)
  go.mod
  go.sum
Due: none

runtime: upgrade Go to 1.23.0, bump core
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/update-core.yaml
  .golangci.yml
  .tool-versions
  controllers/ingress/controller_test.go
  controllers/ingress/once_test.go
  docs/parse.go
  go.mod
  go.sum
  internal/filemgr/filemgr_test.go
  internal/stress/cmd/command.go
  internal/stress/echo.go
  pomerium/routes_test.go
Due: lint, deployment

runtime: upgrade Go to 1.23.0, bump core (#1024)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/update-core.yaml
  .golangci.yml
  .tool-versions
  controllers/ingress/controller_test.go
  controllers/ingress/once_test.go
  docs/parse.go
  go.mod
  go.sum
  internal/filemgr/filemgr_test.go
  internal/stress/cmd/command.go
  internal/stress/echo.go
  pomerium/routes_test.go
Due: lint, deployment

ci: update core to latest commit in main (#1023)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1025)
  go.mod
  go.sum
Due: none

deployment: set proxy service externalTrafficPolicy: Local
  config/pomerium/service/proxy.yaml
  deployment.yaml
Due: deployment

deployment: set proxy service externalTrafficPolicy: Local (#1030)
  config/pomerium/service/proxy.yaml
  deployment.yaml
Due: deployment

bump core
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1029)
  go.mod
  go.sum
Due: none

set version to v0.27.0
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

set version to v0.27.1
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

set version to v0.27.1 (#1034)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update core to latest commit in main (#1031)
  go.mod
  go.sum
Due: none

ci: remove 'make lint' step from Test workflow
  .github/workflows/test.yaml
Due: deployment

ci: remove 'make lint' step from Test workflow (#1043)
  .github/workflows/test.yaml
Due: deployment

ci: update core to latest commit in main (#1045)
  go.mod
  go.sum
Due: none

ingress-controller/config: support go durations in annotations
  cspell.config.yaml
  go.mod
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
Due: lint, deployment

update
  pomerium/proto.go
Due: lint

update spelling
  cspell.config.yaml
  pomerium/proto.go
Due: lint, deployment

ingress-controller/config: support go durations in annotations (#1047)
  cspell.config.yaml
  go.mod
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
Due: lint, deployment

add terraform module
  terraform/README.md
  terraform/cluster_role_bindings.tf
  terraform/cluster_roles.tf
  terraform/crd.tf
  terraform/crd.yaml
  terraform/deployment.tf
  terraform/gen_secrets.tf
  terraform/ingress_class.tf
  terraform/namespace.tf
  terraform/service_accounts.tf
  terraform/services.tf
  terraform/variables.tf
Due: deployment

expose databroker
  terraform/README.md
  terraform/deployment.tf
  terraform/services.tf
  terraform/variables.tf
Due: none

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
