Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

add request normalization options to Pomerium CRD
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  pomerium/config.go
  pomerium/config_test.go
  reference.md
Due: lint, deployment

update deployment
  deployment.yaml
Due: deployment

add request normalization options to Pomerium CRD (#1497)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  pomerium/config_test.go
  reference.md
Due: lint, deployment

add request normalization options to Pomerium CRD (#1497) (#1498)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  pomerium/config_test.go
  reference.md
Due: lint, deployment

sync: make sure to apply namespace ID to settings (#1494)
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

set image to v0.33.1
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

ci: repair the workflow linter's own trigger, bump action-validator
  .github/workflows/lint-workflows.yaml
Due: deployment

recover deployment.yaml
  deployment.yaml
Due: deployment

remove generated deployment.yaml in favor of kubectl apply -k
  .pre-commit-config.yaml
  Makefile
  deployment.yaml
Due: deployment

remove generated deployment.yaml in favor of kubectl apply -k (#1501)
  .pre-commit-config.yaml
  Makefile
  deployment.yaml
Due: deployment

avoid settings reconcile after status update
  controllers/settings/controller.go
Due: lint

sync: do not reuse previous IDs
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

sync: do not reuse previous IDs (#1503)
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

ci: update dependencies
  go.mod
  go.sum
Due: none

sync: rework find-by-name behavior
  pomerium/sync_api.go
Due: lint

avoid settings reconcile after status update (#1502)
  controllers/settings/controller.go
Due: lint

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: none

ci: update dependencies (#1490)
  .tool-versions
  go.mod
  go.sum
Due: none

ci: update dependencies (#1507)
  .tool-versions
  go.mod
  go.sum
Due: none

update
  .tool-versions
  go.mod
  go.sum
  scripts/update-dependencies
Due: none

ci: update dependencies (#1514)
  .tool-versions
  go.mod
  go.sum
  scripts/update-dependencies
Due: none

ingress: add h2c_upstream annotation
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
Due: lint

ingress: add h2c_upstream annotation (#1516)
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
Due: lint

ci: update dependencies (#1515)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1517)
  go.mod
  go.sum
Due: none

bump pomerium to v0.33.3 and set image to v0.33.3
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: repair the workflow linter's own trigger, bump action-validator to 0.9.0
  .github/workflows/lint-workflows.yaml
Due: deployment

ci: repair the workflow linter's own trigger, bump action-validator to 0.9.0 (#1519)
  .github/workflows/lint-workflows.yaml
Due: deployment

bump pomerium to v0.33.3 and set image to v0.33.3 (#1518)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

fix test
  controllers/ingress/controller_integration_test.go
Due: lint

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
