Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment, docs

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

docs:
  name: generate docs
  fail_fast: true
  language: system
  entry: make
  args:
  - docs
  pass_filenames: false

fix README, linter rules
  .pre-commit-config.yaml
  CRD.md
  Makefile
  README.md
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  docs/known_formats.go
  docs/templates/objects.tmpl
Due: lint, deployment, docs

update docs
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  docs/templates/header.tmpl
Due: lint, deployment, docs

add automation to push to docs repo
  .github/workflows/docs.yaml
Due: deployment, docs

trigger publish workflow
  docs/templates/header.tmpl
Due: none

workflow condition
  .github/workflows/docs.yaml
Due: deployment, docs

fix workflow
  .github/workflows/docs.yaml
Due: deployment, docs

fix workflow
  .github/workflows/docs.yaml
  Makefile
Due: deployment, docs

test
  .github/workflows/docs.yaml
Due: deployment, docs

trigger workflow
  .github/workflows/docs.yaml
Due: deployment, docs

generate CRD docs from spec (#428)
  .github/workflows/docs.yaml
  .pre-commit-config.yaml
  Makefile
  README.md
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  config/crd/files.go
  deployment.yaml
  docs/cmd/main.go
  docs/docs.go
  docs/known_formats.go
  docs/parse.go
  docs/template.go
  docs/templates/header.tmpl
  docs/templates/object-properties.tmpl
  docs/templates/object.tmpl
  docs/templates/objects.tmpl
  go.mod
Due: lint, deployment, docs

bump pomerium to v0.20.0
  .github/workflows/docs.yaml
  go.mod
  go.sum
Due: deployment, docs

bump pomerium to v0.20.0 (#434)
  .github/workflows/docs.yaml
  go.mod
  go.sum
Due: deployment, docs

pin v0.20.0 image in deployment manifests
  README.md
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

more fine grained debug logging
  cmd/all_in_one.go
  cmd/ingress_opts.go
  controllers/reporter/pomerium.go
  controllers/reporter/reporter.go
  pomerium/sync.go
Due: lint

check observed generation when updating status
  controllers/ingress/reconcile.go
  controllers/settings/controller.go
  go.mod
Due: lint

update on state transition
  cmd/all_in_one.go
  controllers/settings/controller.go
Due: lint

more fine grained debug logging (#440)
  cmd/all_in_one.go
  cmd/ingress_opts.go
  controllers/reporter/pomerium.go
  controllers/reporter/reporter.go
  pomerium/sync.go
Due: lint

crd /status update check (#439)
  cmd/all_in_one.go
  controllers/ingress/reconcile.go
  controllers/settings/controller.go
  go.mod
Due: lint

bump to v20 latest image, update readme
  README.md
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

pin v0.20.0 image in deployment manifests (#435)
  README.md
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

faster docker build
  .github/workflows/docker.yaml
  .github/workflows/test.yaml
  Dockerfile
  Makefile
Due: deployment, docs

run lint in separate job
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: deployment, docs

rename
  .github/workflows/docker.yaml
Due: deployment, docs

enable backport bot
  .github/workflows/backport.yaml
Due: deployment, docs

enable backport bot (#443)
  .github/workflows/backport.yaml
Due: deployment, docs

bump envoy to 1.24.0
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

bump pomerium to latest
  go.mod
  go.sum
Due: none

bump envoy to v1.24.0 (#444)
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

change generation output to a new location
  .github/workflows/docs.yaml
Due: deployment, docs

change generation output to a new location (#448)
  .github/workflows/docs.yaml
Due: deployment, docs

status: add certificates
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  go.mod
  go.sum
  pomerium/cert_map.go
  pomerium/certs.go
  pomerium/config.go
Due: lint, deployment, docs

update deployment
  deployment.yaml
Due: deployment, docs

fix status update
  controllers/reporter/pomerium.go
Due: lint

add auto tls option
  cmd/all_in_one.go
  go.mod
  go.sum
Due: lint

add auto tls option (#474)
  cmd/all_in_one.go
  go.mod
  go.sum
Due: lint

crd: add gitlab
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: lint, deployment, docs

crd: add gitlab (#482)
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: lint, deployment, docs

crd: add certificate authority
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  deployment.yaml
  model/ingress_config.go
  pomerium/ctrl/bootstrap.go
Due: lint, deployment, docs

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
  docs: any of: \.(yaml|yml)$
