Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

deps: upgrade k8s api version and controller-runtime (#896)
  Makefile
  apis/ingress/v1/zz_generated.deepcopy.go
  cmd/all_in_one.go
  cmd/controller.go
  cmd/controller_test.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/deps/deps.go
  controllers/ingress/controller.go
  controllers/ingress/controller_integration_test.go
  controllers/ingress/deps.go
  controllers/mock/client.go
  controllers/settings/controller.go
  controllers/settings/integration_test.go
  deployment.yaml
  go.mod
  go.sum
Due: lint, deployment

ci: upgrade Go to 1.22
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .tool-versions
  go.mod
Due: deployment

ci: upgrade Go to 1.22 (#898)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .tool-versions
  go.mod
Due: deployment

chore(deps): bump google.golang.org/protobuf from 1.32.0 to 1.33.0
  go.mod
  go.sum
Due: none

go mod tidy
  go.sum
Due: none

chore(deps): bump google.golang.org/protobuf from 1.32.0 to 1.33.0 (#917)
  go.mod
  go.sum
Due: none

ci: group dependabot updates
  .github/dependabot.yaml
Due: deployment

ci: group dependabot updates (#919)
  .github/dependabot.yaml
Due: deployment

docs: fix newlines and tabs
  docs/parse.go
  reference.md
Due: lint

docs: fix newlines and tabs (#923)
  docs/parse.go
  reference.md
Due: lint

ci: set core to v0.25.1
  go.mod
  go.sum
Due: none

ci: set image to v0.25.1
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

Implemented tracing configs
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  pomerium/config.go
  reference.md
Due: lint, deployment

envoy: upgrade to v1.29.2
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

makefile: fix generated files target
  Makefile
Due: none

envoy: upgrade to v1.29.2 (#929)
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

makefile: fix generated files target (#930)
  Makefile
Due: none

ingress-controller/ci: update dependabot grouping
  .github/dependabot.yaml
Due: deployment

ingress-controller/ci: update dependabot grouping (#932)
  .github/dependabot.yaml
Due: deployment

envoy: upgrade to v1.29.3
  scripts/get-envoy.bash
Due: none

envoy: upgrade to v1.28.2
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: deployment

envoy: upgrade to v1.29.3 (#936)
  scripts/get-envoy.bash
Due: none

envoy: upgrade to v1.28.2 (#937)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: deployment

ingress-controller/mock: switch to uber mock
  controllers/ingress/controller_test.go
  controllers/mock/client.go
  controllers/mock/mock.go
  controllers/mock/pomerium_config_reconciler.go
  controllers/mock/pomerium_ingress_reconciler.go
  controllers/settings/fetch_test.go
  controllers/settings/integration_test.go
  cspell.config.yaml
  go.mod
  go.sum
  tools.go
Due: lint, deployment

ingress-controller/mock: switch to uber mock (#939)
  controllers/ingress/controller_test.go
  controllers/mock/client.go
  controllers/mock/mock.go
  controllers/mock/pomerium_config_reconciler.go
  controllers/mock/pomerium_ingress_reconciler.go
  controllers/settings/fetch_test.go
  controllers/settings/integration_test.go
  cspell.config.yaml
  go.mod
  go.sum
  tools.go
Due: lint, deployment

upgrade core
  go.mod
  go.sum
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

fix test
  internal/init_embed.go
  pomerium/routes_test.go
Due: lint

envoy: upgrade to v1.30.1
  go.mod
  go.sum
  scripts/get-envoy.bash
Due: none

import 'internal' package to initialize ExtUIFS
  pomerium/routes_test.go
Due: lint

envoy: upgrade to v1.30.1 (#943)
  go.mod
  go.sum
  pomerium/routes_test.go
  scripts/get-envoy.bash
Due: lint

latest
  go.mod
  go.sum
Due: none

logs: set default log level to info
  cmd/all_in_one.go
  go.mod
  go.sum
Due: lint

deps: exclude core from auto update
  .github/dependabot.yaml
Due: deployment

deps: exclude core from auto update (#951)
  .github/dependabot.yaml
Due: deployment

go.mod
  go.mod
Due: none

logs: set default log level to info (#950)
  cmd/all_in_one.go
  go.mod
  go.sum
Due: lint

Support for empty host in ingress rules (#941)
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
Due: lint

Upgrade controller-runtime to v0.15.0 and k8s api to v0.30.0 (#952)
  controllers/ingress/controller.go
  controllers/ingress/controller_integration_test.go
  controllers/ingress/deps.go
  controllers/settings/controller.go
  go.mod
  go.sum
  util/generic/builder.go
  util/generic/gvk.go
Due: lint

Code cleanup/lint fixes
  go.mod
  pomerium/ingress_to_route.go
  pomerium/routes_test.go
Due: lint

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
