Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment, docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "CRD.md"
      - id: end-of-file-fixer
        exclude: "(CRD.md|docs/.*|integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false
      - id: docs
        name: generate docs
        fail_fast: true
        language: system
        entry: make
        args: ["docs"]
        types: ["yaml"]
        pass_filenames: false

upgrade core to current main branch, including #4192, #4187, #4186, #4190
  go.mod
  go.sum
Due: none

upgrade core to current main branch, including #4192, #4187, #4186, #4190 (#639)
  go.mod
  go.sum
Due: none

bump core to v0.22.2-rc
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

patch test
  .github/workflows/test.yaml
Due: deployment, docs

test patch
  .github/workflows/test.yaml
Due: deployment, docs

Revert "patch test"
  .github/workflows/test.yaml
Due: deployment, docs

set core to v0.22.2
  go.mod
  go.sum
Due: none

set core to v0.21.4
  go.mod
  go.sum
Due: none

set core to v0.20.1
  go.mod
  go.sum
Due: none

set core to v0.19.2
  go.mod
  go.sum
Due: none

add branch build
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

set core to v0.18.1
  go.mod
  go.sum
Due: none

add version docker build
  .github/workflows/docker-version-branches.yaml
Due: deployment, docs

set core to v0.17.4
  go.mod
  go.sum
Due: none

set current docker image
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

bump core main reference
  go.mod
  go.sum
Due: none

bump core main reference (#642)
  go.mod
  go.sum
Due: none

add global timeout customization
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  pomerium/config.go
Due: lint

shorten field names
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  pomerium/config.go
Due: lint

add global timeout customization (#651)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  pomerium/config.go
Due: lint

pin node to lts
  Dockerfile
Due: none

pin node to lts (#652)
  Dockerfile
Due: none

remove depguard
  .golangci.yml
Due: deployment, docs

remove depguard (#668)
  .golangci.yml
Due: deployment, docs

update dependabot
  .github/dependabot.yaml
Due: deployment, docs

update dependabot (#669)
  .github/dependabot.yaml
Due: deployment, docs

fix manifests, fix publish docs action
  .github/workflows/docs.yaml
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: deployment, docs

fix manifests, fix publish docs action (#693)
  .github/workflows/docs.yaml
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: deployment, docs

add useProxyProtocol option to the CRD
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  pomerium/config.go
Due: lint, deployment, docs

go.mod
  go.mod
Due: none

add useProxyProtocol option to the CRD (#694)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
Due: lint, deployment, docs

Implement client-side mTLS support settings
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  model/ingress_config.go
  pomerium/config.go
  reference.md
Due: lint, deployment, docs

dependencies: upgrade core
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

dependencies: upgrade core (#702)
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

settings: add access_log_fields and authorize_log_fields
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  pomerium/config.go
Due: lint, deployment, docs

rebuild deployment.yaml
  deployment.yaml
Due: deployment, docs

settings: add access_log_fields and authorize_log_fields (#701)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
Due: lint, deployment, docs
