Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment, docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: "CRD.md"
      - id: end-of-file-fixer
        exclude: "(CRD.md|docs/.*|integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false
      - id: docs
        name: generate docs
        fail_fast: true
        language: system
        entry: make
        args: ["docs"]
        types: ["yaml"]
        pass_filenames: false

bump core (#556)
  go.mod
  go.sum
Due: none

use updated envoy config
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

upgrade go and envoy
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
  .tool-versions
  go.mod
  scripts/get-envoy.bash
Due: deployment, docs

use updated envoy config (#589)
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

upgrade go and envoy (#595)
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
  .tool-versions
  go.mod
  scripts/get-envoy.bash
Due: deployment, docs

set core to main
  go.mod
  go.sum
Due: none

bump linter to v1.52.2 and resolve warnings
  .golangci.yml
  controllers/ingress/controller_integration_test.go
  controllers/ingress/fetch.go
  controllers/reporter/ingress.go
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
  pomerium/routes.go
  pomerium/sync.go
Due: lint, deployment, docs

set core to main (#597)
  go.mod
  go.sum
Due: none

bump linter to v1.52.2 and resolve warnings (#598)
  .golangci.yml
  controllers/ingress/controller_integration_test.go
  controllers/ingress/fetch.go
  controllers/reporter/ingress.go
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
  pomerium/routes.go
  pomerium/sync.go
Due: lint, deployment, docs

add set response headers global option
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
Due: lint, deployment, docs

add set response headers global option (#599)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
Due: lint, deployment, docs

setResponseHeaders: fix typo
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: lint, deployment, docs

setResponseHeaders: fix typo (#601)
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: lint, deployment, docs

add debug runtime flags
  cmd/all_in_one.go
  cmd/ingress_opts.go
Due: lint

cspell
  cspell.config.yaml
  go.mod
  go.sum
Due: deployment, docs

debug: add some additional runtime flags (#602)
  cmd/all_in_one.go
  cmd/ingress_opts.go
  cspell.config.yaml
  go.mod
  go.sum
Due: lint, deployment, docs

stress test command
  cmd/root.go
  go.mod
  internal/stress/cmd/command.go
  internal/stress/echo.go
  internal/stress/ingress.go
  internal/stress/traffic.go
Due: lint

some fixes
  internal/stress/cmd/command.go
  internal/stress/echo.go
  internal/stress/ingress.go
Due: lint

add deployment manifests
  config/stress-test/config.yaml
  config/stress-test/deployment.yaml
  config/stress-test/kustomization.yaml
  config/stress-test/namespace.yaml
  config/stress-test/rbac/kustomization.yaml
  config/stress-test/rbac/role.yaml
  config/stress-test/rbac/role_binding.yaml
  config/stress-test/rbac/service_account.yaml
  config/stress-test/service.yaml
Due: deployment, docs

add stress test (#609)
  cmd/root.go
  config/stress-test/config.yaml
  config/stress-test/deployment.yaml
  config/stress-test/kustomization.yaml
  config/stress-test/namespace.yaml
  config/stress-test/rbac/kustomization.yaml
  config/stress-test/rbac/role.yaml
  config/stress-test/rbac/role_binding.yaml
  config/stress-test/rbac/service_account.yaml
  config/stress-test/service.yaml
  go.mod
  internal/stress/cmd/command.go
  internal/stress/echo.go
  internal/stress/ingress.go
  internal/stress/traffic.go
Due: lint, deployment, docs

allow to omit authenticate params, that would default to hosted authentication
  apis/ingress/v1/deprecation_test.go
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/ingress/controller_integration_test.go
  controllers/settings/fetch_test.go
  controllers/settings/integration_test.go
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
Due: lint, deployment, docs

add programmatic login options to the CRD
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
Due: lint, deployment, docs

allow to omit authenticate params, that would default to hosted authentication (#612)
  apis/ingress/v1/deprecation_test.go
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/ingress/controller_integration_test.go
  controllers/settings/fetch_test.go
  controllers/settings/integration_test.go
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
Due: lint, deployment, docs

add programmatic login options to the CRD (#613)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
Due: lint, deployment, docs

bump core to v0.22.0
  go.mod
  go.sum
Due: none

bump core to v0.22.0 (#617)
  go.mod
  go.sum
Due: none

add changelog script
  scripts/changelog.sh
Due: none

update gitignore
  .gitignore
Due: none

generate minimal config during installation
  cmd/gen_secrets.go
  config/gen_secrets/job.yaml
  config/gen_secrets/role.yaml
  deployment.yaml
Due: lint, deployment, docs

add changelog script (#618)
  .gitignore
  scripts/changelog.sh
Due: none

config: add cookie_same_site option
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  go.mod
  go.sum
  pomerium/config.go
Due: lint, deployment, docs

v0.22.0
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

Update apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/pomerium_types.go
Due: lint

update deployment
  deployment.yaml
  reference.md
Due: deployment, docs

fix
  reference.md
Due: none

config: add cookie_same_site option (#620)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  reference.md
Due: lint, deployment, docs

bump core to v0.22.1
  go.mod
  go.sum
Due: none

bump core to v0.22.1 + fix for willhavecert
  go.mod
  go.sum
Due: none

core to v0.22.1 + fix to hpke key fetcher
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment, docs

upgrade core to current 0-22-0 branch, including #4192, #4187, #4186, #4190
  go.mod
  go.sum
Due: none
