Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

fix: EndpointSlice changes now trigger Ingress reconciliation
  controllers/ingress/controller_integration_test.go
  controllers/ingress/deps.go
Due: lint

fix: ensure deterministic ordering of endpoint subsets
  model/endpoint_slices.go
Due: lint

fix: add logging when no EndpointSlices found for service
  controllers/ingress/fetch.go
Due: lint

test: add additional unit tests for AggregateEndpointSlices
  model/endpoint_slices_test.go
Due: lint

ci: update dependencies
  go.mod
  go.sum
Due: none

Add localMetricsAddress
  pomerium/validate.go
Due: lint

thanks i hate it
  cmd/all_in_one.go
  pomerium/validate.go
Due: lint

ci: update dependencies (#1308)
  cmd/all_in_one.go
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

ci: update dependencies (#1310)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1311)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1312)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1317)
  go.mod
  go.sum
Due: none

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: none

ci: update dependencies (#1318)
  .tool-versions
  go.mod
  go.sum
Due: none

ci: update dependencies (#1319)
  .tool-versions
  go.mod
  go.sum
Due: none

ci: update dependencies (#1320)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1321)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1322)
  go.mod
  go.sum
Due: none

ingress-controller/gateway: fix missing source ppl
  cspell.config.yaml
  internal/policy/policy.go
  pomerium/gateway/filters.go
  pomerium/gateway/translate_test.go
  pomerium/ingress_annotations.go
Due: lint, deployment

ingress-controller/gateway: fix missing source ppl (#1323)
  cspell.config.yaml
  internal/policy/policy.go
  pomerium/gateway/filters.go
  pomerium/gateway/translate_test.go
  pomerium/ingress_annotations.go
Due: lint, deployment

maybe fix v0.32
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

maybe fix v0.32 (#1325)
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

ci: upgrade to Go 1.26.0
  .tool-versions
  go.mod
Due: none

ci: update update-dependencies script to Go 1.26
  scripts/update-dependencies
Due: none

ci: upgrade to Go 1.26.0 (#1326)
  .tool-versions
  go.mod
  scripts/update-dependencies
Due: none

set core to v0.32.1
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

fix lint
  .golangci.yml
Due: deployment

ci: update dependencies (#1327)
  .golangci.yml
  .tool-versions
  go.mod
  go.sum
Due: deployment

ci: update dependencies (#1328)
  go.mod
  go.sum
Due: none

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
