Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1080)
  go.mod
  go.sum
Due: none

settings: add codec_type
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  config/pomerium/deployment/ports.yaml
  config/pomerium/service/proxy.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
Due: lint, deployment

use ports 443, 80
  cmd/all_in_one.go
  config/pomerium/deployment/no-root.yaml
  config/pomerium/deployment/ports.yaml
  deployment.yaml
Due: lint, deployment

settings: add codec_type (#1085)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  cmd/all_in_one.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  config/pomerium/deployment/no-root.yaml
  config/pomerium/deployment/ports.yaml
  config/pomerium/service/proxy.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
Due: lint, deployment

ci: update core to latest commit in main (#1081)
  go.mod
  go.sum
Due: none

set core to 084ad15464ac2f10b56856e310025e3033220095
  go.mod
  go.sum
Due: none

set core to 2619b05498f5fedd8332e9ae2234cac1f52f6917
  go.mod
  go.sum
Due: none

rename codec_type to codecType
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  pomerium/config.go
  reference.md
Due: lint, deployment

Makefile: unset GOOS for get-envoy command
  Makefile
Due: none

rename codec_type to codecType (#1087)
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  pomerium/config.go
  reference.md
Due: lint, deployment

ci: update core to latest commit in main (#1086)
  go.mod
  go.sum
Due: none

routes: add description, logo_url, source_ppl
  go.mod
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

Makefile: unset GOOS for get-envoy command (#1088)
  Makefile
Due: none

set core to fbe693cfb36fe21064de90ad2bb42884a3cf2882
  go.mod
  go.sum
Due: none

(fix) exit gracefully if bootstrap secrets exist
  cmd/gen_secrets.go
Due: lint

(fix) exit gracefully if bootstrap secrets exist (#1091)
  cmd/gen_secrets.go
Due: lint

set core to ede82486070b1c6c32139d038e76c63378ed0c2e
  go.mod
  go.sum
Due: none

ci: more flexible version branch regex
  .github/workflows/docker-version-branches.yaml
Due: deployment

ci: more flexible version branch regex (#1092)
  .github/workflows/docker-version-branches.yaml
Due: deployment

ci: more flexible version branches
  .github/workflows/docker-version-branches.yaml
Due: deployment

ci: update core to latest commit in main (#1090)
  go.mod
  go.sum
Due: none

routes: add description, logo_url, source_ppl (#1089)
  go.mod
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

Revert "ci: update docs script destination path (#990)"
  scripts/open-docs-pull-request.sh
Due: none

set core to 5e45fa4b0dfc5c154788c95453220d88cad9f2fd
  go.mod
  go.sum
Due: none

assigning svc CLuster IP when svc is a NodePort
  controllers/ingress/reconcile.go
Due: lint

Revert "ci: update docs script destination path (#990)" (#1094)
  scripts/open-docs-pull-request.sh
Due: none

ports: use high ports, advertise http/3 port as 443
  cmd/all_in_one.go
  config/pomerium/deployment/no-root.yaml
  config/pomerium/deployment/ports.yaml
  deployment.yaml
  go.mod
  go.sum
Due: lint, deployment

ports: use high ports, advertise http/3 port as 443 (#1101)
  cmd/all_in_one.go
  config/pomerium/deployment/no-root.yaml
  config/pomerium/deployment/ports.yaml
  deployment.yaml
  go.mod
  go.sum
Due: lint, deployment

ci: update core to latest commit in main
  go.mod
Due: none

pomerium: Add tests for Service to Endpoints mapping
  pomerium/routes_test.go
Due: lint

pomerium: Fix Enpoints port mapping
  pomerium/ingress_to_route.go
Due: lint

refactor code and add test
  controllers/ingress/controller_integration_test.go
  controllers/ingress/reconcile.go
Due: lint
