Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

ingress-controller: fix protobuf conflict
  Makefile
Due: none

ingress-controller: fix protobuf conflict (#1382)
  Makefile
Due: none

fix standalone mode health checks (#1380)
  cmd/common.go
  cmd/controller.go
Due: lint

ci: update dependencies (#1381)
  go.mod
  go.sum
Due: none

ci: update dependencies
  go.mod
  go.sum
Due: none

api sync: recover from a failed metadata update
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

remove some unused logic
  pomerium/sync_api.go
Due: lint

start to update unit tests
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

add more tests, add keypair deletion fallback
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

typo
  pomerium/sync_api_test.go
Due: lint

reword comment
  pomerium/sync_api_test.go
Due: lint

fix a few cases where a Patch error would be swallowed
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

address review feedback
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

add a few more test cases
  pomerium/sync_api_test.go
Due: lint

add support for k8s leader election
  cmd/controller.go
  config/pomerium/rbac/cluster_role.yaml
  config/pomerium/rbac/cluster_role_binding.yaml
  config/pomerium/rbac/kustomization.yaml
  config/pomerium/rbac/role.yaml
  controllers/config_controller.go
  deployment.yaml
Due: lint, deployment

Allowing to have 2 pomerium ICs in a same cluster
  config/pomerium-mcp/ingressclass.yaml
  config/pomerium-mcp/inner/kustomization.yaml
  config/pomerium-mcp/inner/statefulset.yaml
  config/pomerium-mcp/kustomization.yaml
  config/pomerium-mcp/namespace.yaml
Due: deployment

pomerium-mcp: install CRDs via kustomization; add sample global config CR
  config/pomerium-mcp/kustomization.yaml
  config/pomerium-mcp/pomerium-crd.yaml
Due: deployment

ingress-controller: upgrade core to v0.32.6
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ingress-controller: upgrade core to v0.32.6 (#1389)
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

address review feedback
  cmd/controller.go
Due: lint

ingress-controller: upgrade core to pick up MCP PRM port-normalization fix
  go.mod
  go.sum
Due: none

rework settings sync to apply Core defaults
  pomerium/config.go
  pomerium/sync_api.go
Due: lint

fix ID handling, update unit tests
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

ci: fix docs pull request workflow
  .github/workflows/docs.yaml
  .tool-versions
  scripts/open-docs-pull-request.sh
Due: deployment

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: none

lint
  .gitignore
  pomerium/envoy/validate_envoy.go
Due: lint

ignore ui
  go.mod
Due: none

do not modify runtime flags or autocert dir
  pomerium/sync_api.go
Due: lint

update unit test
  pomerium/sync_api_test.go
Due: lint

sync: add derived CA from shared secret
  cmd/all_in_one.go
  cmd/controller.go
  pomerium/sync_api.go
Due: lint

ingress-controller/config: remove quic port, add configs for eks and gke
  config/http3-eks/README.md
  config/http3-eks/kustomization.yaml
  config/http3-gke/README.md
  config/http3-gke/kustomization.yaml
  config/pomerium/service/proxy.yaml
  deployment.yaml
Due: deployment

ingress-controller/config: add certificate auto provision setting
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  reference.md
Due: lint, deployment

ingress-controller: add new certificate name index
  go.mod
  internal/certificate/nameindex.go
  internal/certificate/nameindex_test.go
Due: lint

wip
  internal/certificate/matcher.go
Due: lint

add getter
  internal/certificate/nameindex.go
  internal/certificate/nameindex_test.go
Due: lint

ingress-controller: add certificate matcher
  internal/certificate/matcher.go
  internal/certificate/matcher_test.go
Due: lint

ingress-controller: extract certificate and route names from config
  go.mod
  internal/certificate/convert.go
  internal/certificate/convert_test.go
  internal/certificate/testdata/amazon.pem
  internal/certificate/testdata/google.pem
Due: lint

add comment
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  reference.md
Due: lint, deployment

ingress-controller/config: add certificate auto provision setting (#1402)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  reference.md
Due: lint, deployment
