Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

set core to main
  go.mod
  go.sum
Due: none

set core to latest v0.29 branch
  go.mod
  go.sum
Due: none

fix validate
  Makefile
  go.mod
  pomerium/validate.go
Due: lint

fix build
  go.mod
  pomerium/validate.go
Due: lint

update core (#1126)
  Makefile
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

ci: update core to latest commit in main
  go.mod
Due: none

crd: add otel tracing options to config
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  cspell.config.yaml
  deployment.yaml
  pomerium/config.go
Due: lint, deployment

crd: add tracing params
  pomerium/config.go
Due: lint

initialize tracing context
  cmd/all_in_one.go
  go.mod
  go.sum
Due: lint

only fill in traces config
  pomerium/config.go
Due: lint

pin core to latest
  go.mod
  go.sum
Due: none

fix manifests
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: lint, deployment

crd: add tracing params (#1127)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  cmd/all_in_one.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  cspell.config.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
Due: lint, deployment

crd: add tracing params (#1127) (#1128)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  cmd/all_in_one.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  cspell.config.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
Due: lint, deployment

revert 1030
  config/pomerium/service/proxy.yaml
  deployment.yaml
Due: deployment

revert 1030 (#1129)
  config/pomerium/service/proxy.yaml
  deployment.yaml
Due: deployment

set core to v0.29.0
  go.mod
  go.sum
Due: none

update changelog
  changelog/v0.29.0.md
Due: none

set docker image to v0.29.0
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

add install-sshd-config tool
  cmd/root.go
  cmd/sync_sshd_config.go
  config/install_sshd_config/daemonset.yaml
Due: lint, deployment

demo: add ssh options
  cmd/all_in_one.go
Due: lint

demo: update pomerium dependency
  go.mod
  go.sum
Due: none

ci: set up ssh demo builds
  .github/workflows/docker-version-branches.yaml
  Makefile
  go.mod
  go.sum
Due: deployment

ci: build docker images for experimental/* branches
  .github/workflows/docker-version-branches.yaml
Due: deployment

upgrade main
  go.mod
  go.sum
Due: none

upgrade main (#1132)
  go.mod
  go.sum
Due: none

fix tests
  controllers/ingress/controller_integration_test.go
Due: lint

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

ci: build docker images for experimental/* branches (#1131)
  .github/workflows/docker-version-branches.yaml
Due: deployment

bump pomerium/pomerium
  go.mod
  go.sum
Due: none

temporarily switch to root image
  Dockerfile
  Dockerfile.ci
Due: none

upgrade main (#1133)
  go.mod
  go.sum
Due: none

bump envoy-custom
  go.mod
  go.sum
Due: none

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
