Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

ci: update dependencies
  go.mod
  go.sum
Due: none

ci: update dependencies (#1330)
  go.mod
  go.sum
Due: none

WIP -- add support for syncing via new unified API
  cmd/all_in_one.go
  cmd/controller.go
  go.mod
  go.sum
  pomerium/sync.go
  pomerium/sync_api.go
  pomerium/sync_databroker.go
Due: lint

ci: update dependencies (#1331)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1332)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1333)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1339)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1340)
  go.mod
  go.sum
Due: none

WIP -- add new command line options
  cmd/all_in_one.go
  cmd/controller.go
  cmd/ingress_opts.go
  controllers/config_controller.go
  controllers/ingress/reconcile.go
  pomerium/reconcile.go
  pomerium/sync.go
  pomerium/sync_api.go
  pomerium/sync_databroker.go
Due: lint

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: none

ingress-controller/routes: add support for the upstream tunnel option
  go.mod
  go.sum
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

upgrade core
  go.mod
  go.sum
Due: none

ingress-controller/routes: add support for the upstream tunnel option (#1343)
  go.mod
  go.sum
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

lint
  internal/filemgr/filemgr.go
  internal/filemgr/filemgr_test.go
Due: lint

ci: update dependencies (#1341)
  .tool-versions
  go.mod
  go.sum
  internal/filemgr/filemgr.go
  internal/filemgr/filemgr_test.go
Due: lint

translate Ingress to unified API Policy entity
  pomerium/ingress_to_policy.go
  pomerium/ingress_to_policy_test.go
Due: lint

translate Ingress to unified API Policy entity (#1344)
  pomerium/ingress_to_policy.go
  pomerium/ingress_to_policy_test.go
Due: lint

WIP -- basic route create/delete almost works
  config/pomerium/deployment/args.yaml
  config/pomerium/rbac/role.yaml
  controllers/ingress/reconcile.go
  pomerium/reconcile.go
  pomerium/sync_api.go
  pomerium/sync_databroker.go
Due: lint, deployment

WIP -- sync one policy per Ingress
  pomerium/sync_api.go
Due: lint

WIP -- clean up policy sync
  pomerium/sync_api.go
Due: lint

revert envoy-custom to working build
  go.mod
  go.sum
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

fix policy delete logic
  pomerium/sync_api.go
Due: lint

ci: update dependencies (#1345)
  go.mod
  go.sum
Due: none

WIP -- making a mess of things
  controllers/ingress/controller.go
  controllers/ingress/reconcile.go
  pomerium/reconcile.go
  pomerium/sync_api.go
Due: lint

set core to v0.32.3, bump patch version
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

WIP -- more logic related to removal
  config/pomerium/rbac/role.yaml
  controllers/ingress/controller.go
  controllers/ingress/reconcile.go
  pomerium/reconcile.go
  pomerium/sync_api.go
Due: lint, deployment

also bump version in config/clustered-databroker/
  config/clustered-databroker/statefulset/image.yaml
Due: deployment

set core to v0.32.3, bump patch version (#1347)
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

update core to v0.32.4
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

update core to v0.32.4 (#1348)
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
