Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

ci: update dependencies
  go.mod
  go.sum
Due: none

ci: update dependencies (#1290)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1291)
  go.mod
  go.sum
Due: none

ingress-controller/config: remove envoy options
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/ingress_to_route.go
  pomerium/proto.go
  pomerium/routes_test.go
Due: lint

update docs for 'Secrets' field
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  reference.md
Due: lint, deployment

sync deployment
  deployment.yaml
Due: deployment

update docs for 'Secrets' field (#1298)
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  reference.md
Due: lint, deployment

ci: update dependencies (#1292)
  go.mod
  go.sum
Due: none

update
  go.mod
  go.sum
Due: none

docs: fix broken documentation links in reference.md
  reference.md
Due: none

update links in doc comments
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: lint, deployment

docs: fix broken documentation links in reference.md (#1300)
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  reference.md
Due: lint, deployment

ingress-controller/config: remove envoy options (#1293)
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/ingress_to_route.go
  pomerium/proto.go
  pomerium/routes_test.go
Due: lint

chore: bump pomerium to f2e7e605bc3724a293a3b58d14b2f085682afae7
  .tool-versions
  go.mod
  go.sum
Due: none

chore: bump pomerium to f2e7e605bc3724a293a3b58d14b2f085682afae7 (#1301)
  .tool-versions
  go.mod
  go.sum
Due: none

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: none

ci: update dependencies (#1299)
  .tool-versions
  go.mod
  go.sum
Due: none

ci: update dependencies (#1302)
  go.mod
  go.sum
Due: none

feat: add mcpAllowedClientIdDomains to Pomerium CRD
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  reference.md
Due: lint, deployment

chore: mark mcpAllowedClientIdDomains as optional
  apis/ingress/v1/pomerium_types.go
Due: lint

ci: update dependencies (#1303)
  go.mod
  go.sum
Due: none

feat: add mcpAllowedClientIdDomains to Pomerium CRD (#1304)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  reference.md
Due: lint, deployment

Add a script to cut a new release automatically
  scripts/release.sh
Due: none

Add make lint / deployment
  scripts/release.sh
Due: none

Add changes to deployment.yaml
  scripts/release.sh
Due: none

Customize ingress controller v0.32.0
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

Ensure no changes before pushing
  scripts/release.sh
Due: none

newline
  scripts/release.sh
Due: none

ci: update dependencies (#1306)
  go.mod
  go.sum
Due: none

allow custom versioning of ingress-controller
  scripts/release.sh
Due: none

update
  pomerium/deterministic_test.go
  pomerium/ingress_annotations_test.go
  pomerium/ingress_to_route.go
  pomerium/route_list.go
  pomerium/routes_test.go
Due: lint

ci: update dependencies (#1307)
  go.mod
  go.sum
  pomerium/deterministic_test.go
  pomerium/ingress_annotations_test.go
  pomerium/ingress_to_route.go
  pomerium/route_list.go
  pomerium/routes_test.go
Due: lint

feat: migrate from Endpoints to EndpointSlice API
  config/pomerium/rbac/role.yaml
  controllers/ingress/controller.go
  controllers/ingress/controller_integration_test.go
  controllers/ingress/controller_test.go
  controllers/ingress/fetch.go
  cspell.config.yaml
  deployment.yaml
  model/endpoint_slices.go
  model/endpoint_slices_test.go
  model/ingress_config.go
  pomerium/routes_test.go
Due: lint, deployment

fix: clean up EndpointSlices in integration test teardown
  controllers/ingress/controller_integration_test.go
Due: lint

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
