Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

add bearer_token_format and idp_access_token_allowed_audiences
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
  reference.md
Due: lint, deployment

use main commit
  go.mod
  go.sum
Due: none

fix bootstrap failing
  config/gen_secrets/role.yaml
  deployment.yaml
Due: deployment

add bearer_token_format and idp_access_token_allowed_audiences (#1103)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  config/gen_secrets/role.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
  reference.md
Due: lint, deployment

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

backport 1103 to 0-28-exp
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  config/gen_secrets/role.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  pomerium/proto.go
  reference.md
Due: lint, deployment

upgrade core
  go.mod
  go.sum
Due: none

upgrade core (#1106)
  go.mod
  go.sum
Due: none

upgrade
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1093)
  go.mod
  go.sum
Due: none

upgrade (#1108)
  go.mod
Due: none

fix release branch regex
  .github/workflows/docker-version-branches.yaml
Due: deployment

fix release branch regex (#1111)
  .github/workflows/docker-version-branches.yaml
Due: deployment

upgrade core (#1112)
  go.mod
  go.sum
Due: none

maybe fix lint
  .golangci.yml
Due: deployment

remove maligned
  .golangci.yml
Due: deployment

remove additional properties
  .golangci.yml
Due: deployment

fix gomod
  go.mod
Due: none

pomerium: Fix Enpoints port mapping
  pomerium/ingress_to_route.go
Due: lint

pomerium: Add tests for Service to Endpoints mapping
  pomerium/routes_test.go
Due: lint

release notes for v0.29.0
  changelog/v0.29.0.md
Due: none

push file
  changelog/v0.29.0.md
Due: none

considering NodePort,ClusterIP svc
  controllers/ingress/reconcile.go
Due: lint

ci: update core to latest commit in main (#1109)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1120)
  go.mod
  go.sum
Due: none

set core to latest 0-29
  go.mod
  go.sum
Due: none

remove corev1.ServiceTypeClusterIP
  controllers/ingress/reconcile.go
Due: lint

upgrade core (#1123)
  go.mod
  go.sum
Due: none

little fix for `src` variable
  controllers/ingress/reconcile.go
Due: lint

upgrade core (#1125)
  go.mod
  go.sum
Due: none

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
