Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

use npm
  Makefile
Due: none

use npm
  scripts/open-docs-pull-request.sh
Due: none

upgrade core
  go.mod
  go.sum
  pomerium/gateway/backendrefs.go
  pomerium/validate.go
Due: lint

update
  Makefile
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1269)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1270)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1271)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1275)
  go.mod
  go.sum
Due: none

upgrade core to v0.31.2
  go.mod
  go.sum
Due: none

upgrade deployment
  config/pomerium/deployment/image.yaml
  deployment.yaml
Due: deployment

ci: update core to latest commit in main (#1278)
  go.mod
  go.sum
Due: none

upgrade core to v0.31.2 (#1279)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: switch back to yarn for docs repo
  scripts/open-docs-pull-request.sh
Due: none

ci: switch back to yarn for docs repo (#1280)
  scripts/open-docs-pull-request.sh
Due: none

ci: update core to latest commit in main (#1281)
  go.mod
  go.sum
Due: none

add support for route idp_client_id and idp_client_secret
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

chore: bump versions go 1.25.4 & golangci-lint v2.7.2
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/update-core.yaml
  .tool-versions
  go.mod
  go.sum
Due: deployment

chore/dev: migrate golangci-lint to v2
  .golangci.yml
  Makefile
  pomerium/tools/get-tools.go
Due: lint, deployment

chore: upgrade go 1.25 (#1284)
  .github/workflows/docker-main.yaml
  .github/workflows/docker-version-branches.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .github/workflows/update-core.yaml
  .golangci.yml
  .tool-versions
  Makefile
  go.mod
  go.sum
  pomerium/tools/get-tools.go
Due: lint, deployment

prepare for v0.30.8 release
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

prepare for v0.31.3 release
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

prepare for v0.30.8 release (#1285)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

prepare for v0.31.3 release (#1286)
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update core to latest commit in main (#1282)
  go.mod
  go.sum
Due: none

add support for route idp_client_id and idp_client_secret (#1283)
  model/ingress_config.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

ci: update core to latest commit in main (#1287)
  go.mod
  go.sum
Due: none

update
  .github/workflows/update-dependencies.yaml
  .tool-versions
  Makefile
  docs/templates/header.tmpl
  docs/templates/object-properties.tmpl
  docs/templates/object.tmpl
  docs/templates/objects.tmpl
  reference.md
  scripts/update-dependencies
Due: deployment

ci: update core to latest commit in main (#1288)
  .github/workflows/update-dependencies.yaml
  .tool-versions
  Makefile
  docs/templates/header.tmpl
  docs/templates/object-properties.tmpl
  docs/templates/object.tmpl
  docs/templates/objects.tmpl
  go.mod
  go.sum
  reference.md
  scripts/update-dependencies
Due: deployment

ci: update dependencies
  go.mod
  go.sum
Due: none

ci: update dependencies (#1289)
  go.mod
  go.sum
Due: none

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
