Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

lint:
  name: lint
  language: system
  entry: make
  args:
  - lint
  pass_filenames: false
  fail_fast: true

deployment:
  name: deployment
  fail_fast: true
  language: system
  entry: make
  args:
  - deployment
  pass_filenames: false

bump core
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1219)
  go.mod
  go.sum
Due: none

bootstrap config health checks
  cmd/all_in_one.go
  controllers/config_controller.go
  controllers/settings/controller.go
  controllers/settings/integration_test.go
  go.mod
  util/health/check.go
Due: lint

add health probes to customize
  config/pomerium/deployment/args.yaml
  config/pomerium/deployment/healthcheck.yaml
  go.mod
  go.sum
Due: deployment

run pre-commit hooks
  controllers/settings/controller.go
  deployment.yaml
Due: lint, deployment

feat: basic ingress controller health checks implementation (#1227)
  cmd/all_in_one.go
  config/pomerium/deployment/args.yaml
  config/pomerium/deployment/healthcheck.yaml
  controllers/config_controller.go
  controllers/settings/controller.go
  controllers/settings/integration_test.go
  deployment.yaml
  go.mod
  go.sum
  util/health/check.go
Due: lint, deployment

wip
  cmd/all_in_one.go
  cmd/databroker.go
  cmd/databroker_test.go
  config/clustered-databroker/databroker.yaml
  config/clustered-databroker/kustomization.yaml
  go.mod
  go.sum
Due: lint, deployment

cmd: add additional databroker options
  cmd/all_in_one.go
  cmd/databroker_options.go
  cmd/databroker_options_test.go
  go.mod
  go.sum
Due: lint

move cluster leader id to the crd
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  cmd/databroker_options.go
  cmd/databroker_options_test.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/ctrl/bootstrap.go
  reference.md
Due: lint, deployment

config: add file storage option
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  deployment.yaml
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
  reference.md
Due: lint, deployment

update comment
  apis/ingress/v1/pomerium_types.go
  controllers/settings/fetch.go
Due: lint

config: add file storage option (#1230)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  deployment.yaml
  pomerium/config.go
  pomerium/ctrl/bootstrap.go
  reference.md
Due: lint, deployment

ci: update core to latest commit in main
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1228)
  go.mod
  go.sum
Due: none

build health checks into default deployment
  config/pomerium/deployment/healthcheck.yaml
  config/pomerium/deployment/kustomization.yaml
  deployment.yaml
Due: deployment

cmd: add additional databroker options (#1229)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  cmd/all_in_one.go
  cmd/databroker_options.go
  cmd/databroker_options_test.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  go.mod
  go.sum
  pomerium/ctrl/bootstrap.go
  reference.md
Due: lint, deployment

remove duplicate grpc address
  cmd/all_in_one.go
Due: lint

updates
  config/clustered-databroker/databroker.yaml
  config/clustered-databroker/kustomization.yaml
  config/clustered-databroker/service/databroker.yaml
  config/clustered-databroker/service/kustomization.yaml
  config/clustered-databroker/statefulset/args.yaml
  config/clustered-databroker/statefulset/base.yaml
  config/clustered-databroker/statefulset/image.yaml
  config/clustered-databroker/statefulset/kustomization.yaml
  config/clustered-databroker/statefulset/no-root.yaml
  config/clustered-databroker/statefulset/ports.yaml
  config/clustered-databroker/statefulset/readonly-root-fs.yaml
  config/clustered-databroker/statefulset/resources.yaml
  config/clustered-databroker/statefulset/volume.yaml
  config/pomerium/deployment/base.yaml
  config/pomerium/service/proxy.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

allow parallel creation
  config/clustered-databroker/statefulset/base.yaml
Due: deployment

delete pvcs on scale
  config/clustered-databroker/statefulset/base.yaml
Due: deployment

use main
  go.mod
  go.sum
Due: none

remove redundant tmp
  config/clustered-databroker/statefulset/volume.yaml
Due: deployment

config: add a clustered databroker configuration (#1234)
  cmd/common.go
  config/clustered-databroker/kustomization.yaml
  config/clustered-databroker/service/databroker.yaml
  config/clustered-databroker/service/kustomization.yaml
  config/clustered-databroker/statefulset/args.yaml
  config/clustered-databroker/statefulset/base.yaml
  config/clustered-databroker/statefulset/image.yaml
  config/clustered-databroker/statefulset/kustomization.yaml
  config/clustered-databroker/statefulset/no-root.yaml
  config/clustered-databroker/statefulset/ports.yaml
  config/clustered-databroker/statefulset/readonly-root-fs.yaml
  config/clustered-databroker/statefulset/resources.yaml
  config/clustered-databroker/statefulset/volume.yaml
  config/pomerium/deployment/base.yaml
  config/pomerium/service/proxy.yaml
  deployment.yaml
Due: lint, deployment

ci: update core to latest commit in main (#1232)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1235)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1236)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1237)
  go.mod
  go.sum
Due: none

build health checks into default deployment (#1233)
  config/pomerium/deployment/healthcheck.yaml
  config/pomerium/deployment/kustomization.yaml
  deployment.yaml
Due: deployment

ci: update core to latest commit in main (#1242)
  go.mod
  go.sum
Due: none

ci: update core to latest commit in main (#1243)
  go.mod
  go.sum
Due: none

Path conditions:
  lint: any of: \.go$
  deployment: any of: \.(yaml|yml)$
