Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

exclude kubebuilder markers from line-length linter
  .golangci.yml
Due: deployment

support hosted authenticate OIDC mode (#1414)
  .golangci.yml
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/fetch.go
  controllers/settings/fetch_test.go
  deployment.yaml
  pomerium/config.go
  pomerium/config_test.go
Due: lint, deployment

ingress-controller: add more docs for the certificate auto provisioning
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  reference.md
Due: lint, deployment

ci: update dependencies
  go.mod
  go.sum
  reference.md
Due: none

handle deleted entities
  controllers/certificate/databroker.go
Due: lint

bump pomerium/pomerium
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

bump pomerium/pomerium (#1420)
  go.mod
  go.sum
  pomerium/validate.go
Due: lint

update BuildBootstrap
  pomerium/validate.go
Due: lint

ci: update dependencies (#1419)
  reference.md
Due: none

update other calls
  controllers/certificate/databroker.go
Due: lint

Makefile: rerun npm ci when node_modules is missing (#1417)
  Makefile
Due: none

ingress-controller/ci: add integration test (#1409)
  cmd/certificate_controller_options.go
  controllers/certificate/controller.go
  controllers/certificate/controller_options.go
  controllers/certificate/databroker.go
  controllers/certificate/integration_test.go
  controllers/config_controller.go
  go.mod
  internal/testutil/databroker.go
Due: lint

clustered-databroker: production-hardening defaults
  config/clustered-databroker/kustomization.yaml
  config/clustered-databroker/pdb.yaml
Due: deployment

clustered-databroker: production-hardening defaults (#1422)
  config/clustered-databroker/kustomization.yaml
  config/clustered-databroker/pdb.yaml
Due: deployment

ci: update dependencies
  go.mod
  go.sum
Due: none

ci: update dependencies (#1421)
  go.mod
  go.sum
Due: none

crd: identityProvider <-> authenticate constraints
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
Due: lint, deployment

update integration test
  controllers/settings/integration_test.go
Due: lint

ingress-controller: delay starting the certificate controller until all required CRDs exist
  controllers/certificate/controller.go
  controllers/certificate/integration_test.go
  controllers/config_controller.go
Due: lint

update core
  go.mod
  go.sum
Due: none

update core (#1425)
  go.mod
  go.sum
Due: none

ingress-controller: add more docs for the certificate auto provisioning (#1418)
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  reference.md
Due: lint, deployment

crd: identityProvider <-> authenticate constraints (#1423)
  apis/ingress/v1/pomerium_types.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  controllers/settings/integration_test.go
  deployment.yaml
Due: lint, deployment

update sdk-go along with pomerium core
  scripts/update-dependencies
Due: none

ingress-controller: delay starting the certificate controller until all required CRDs exist (#1424)
  controllers/certificate/controller.go
  controllers/certificate/integration_test.go
  controllers/config_controller.go
Due: lint

use config.New
  internal/testutil/databroker.go
  pomerium/ctrl/config_test.go
  pomerium/validate.go
Due: lint

ci: update dependencies (#1426)
  go.mod
  go.sum
  internal/testutil/databroker.go
  pomerium/ctrl/config_test.go
  pomerium/validate.go
Due: lint

update sdk-go along with pomerium core (#1427)
  scripts/update-dependencies
Due: none

regenerate mocks
  controllers/mock/sdkclient.go
Due: lint

ci: update dependencies (#1428)
  controllers/mock/sdkclient.go
  go.mod
  go.sum
Due: lint

Allowing to have 2 pomerium ICs in a same cluster (#1388)
  config/pomerium-mcp/ingressclass.yaml
  config/pomerium-mcp/inner/kustomization.yaml
  config/pomerium-mcp/inner/statefulset.yaml
  config/pomerium-mcp/kustomization.yaml
  config/pomerium-mcp/namespace.yaml
  config/pomerium-mcp/pomerium-crd.yaml
Due: deployment

update core (#1429)
  go.mod
  go.sum
Due: none

update config initialization to use config.New
  cmd/all_in_one.go
Due: lint

Update config initialization to use config.New (#1430)
  cmd/all_in_one.go
Due: lint

ingress-controller: upgrade sdk
  controllers/config_controller.go
  go.mod
  go.sum
Due: lint

ingress-controller: update sdk
  controllers/mock/sdkclient.go
  go.mod
  go.sum
  pomerium/sync_api.go
  pomerium/sync_api_test.go
  scripts/update-dependencies
Due: lint

update package name
  pomerium/ingress_annotations.go
  pomerium/ingress_to_policy.go
Due: lint
