Repository pomerium/ingress-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, deployment

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "(integration/tpl/files/.*)"
      - id: check-yaml
        exclude: "deployment.yaml"
      - id: check-added-large-files
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      - id: go-mod-tidy
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.17.1
    hooks:
      - id: cspell
        files: "^.*.go$"
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: make
        args: ["lint"]
        types: ["go"]
        pass_filenames: false
        fail_fast: true
      - id: deployment
        name: deployment
        fail_fast: true
        language: system
        entry: make
        args: ["deployment"]
        types: ["yaml"]
        pass_filenames: false

update get-envoy
  Makefile
  go.mod
  go.sum
  pomerium/envoy/envoy_darwin_amd64.go
  pomerium/envoy/envoy_darwin_arm64.go
  pomerium/envoy/envoy_linux_amd64.go
  pomerium/envoy/envoy_linux_arm64.go
  pomerium/envoy/validate_envoy.go
Due: lint

ci: update dependencies (#1358)
  Makefile
  go.mod
  go.sum
  pomerium/envoy/envoy_darwin_amd64.go
  pomerium/envoy/envoy_darwin_arm64.go
  pomerium/envoy/envoy_linux_amd64.go
  pomerium/envoy/envoy_linux_arm64.go
  pomerium/envoy/validate_envoy.go
Due: lint

implement Gateway API policy sync
  config/gateway-api/role_patch.yaml
  pomerium/gateway/filters.go
  pomerium/gateway/translate.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint, deployment

test Gateway API policy lifecycle
  model/gateway_config.go
  pomerium/gateway/filters.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

resolve reminder comments
  cmd/all_in_one.go
  pomerium/sync_api.go
Due: lint

back out IngressReconciler interface change
  controllers/ingress/builder.go
  controllers/ingress/controller.go
  controllers/ingress/reconcile.go
  pomerium/reconcile.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
  pomerium/sync_databroker.go
Due: lint

revert temporary fixes
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
Due: lint

add GOLANG_PROTOBUF_REGISTRATION_CONFLICT to Makefile
  Makefile
Due: none

fix some precommit issues
  cmd/all_in_one.go
  controllers/ingress/reconcile.go
  cspell.config.yaml
  deployment.yaml
  pomerium/sync_api_test.go
Due: lint, deployment

lint
  cmd/all_in_one.go
  cmd/controller.go
  cmd/ingress_opts.go
  model/secrets_map.go
  pomerium/gateway/filters.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

more cspell
  cspell.config.yaml
Due: deployment

ci: update dependencies
  .tool-versions
  go.mod
  go.sum
Due: none

ci: update dependencies (#1365)
  .tool-versions
  go.mod
  go.sum
Due: none

revert temporary config settings changes
  pomerium/config.go
  pomerium/config_test.go
Due: lint

update core to v0.32.5
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

fix incorrect Not Found case in upsertOneRoute
  pomerium/sync_api.go
  pomerium/sync_api_test.go
Due: lint

update core to v0.32.5 (#1368)
  config/clustered-databroker/statefulset/image.yaml
  config/pomerium/deployment/image.yaml
  deployment.yaml
  go.mod
  go.sum
Due: deployment

ci: update dependencies
  go.mod
  go.sum
Due: none

ci: update dependencies (#1369)
  go.mod
  go.sum
Due: none

Update controllers/config_controller.go
  controllers/config_controller.go
Due: lint

add missing import, remove some debug logging
  controllers/config_controller.go
  pomerium/sync_api.go
Due: lint

fix(deployment): containerPort for QUIC
  config/pomerium/deployment/ports.yaml
  deployment.yaml
Due: deployment

ci: update dependencies (#1370)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1373)
  go.mod
  go.sum
Due: none

ingress-controller/config: add support for allow_upgrades
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  pomerium/config_test.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  reference.md
Due: lint, deployment

fix(deployment): incorrect containerPort for QUIC (#1372)
  config/pomerium/deployment/ports.yaml
  deployment.yaml
Due: deployment

ingress-controller/config: add support for allow_upgrades (#1374)
  apis/ingress/v1/pomerium_types.go
  apis/ingress/v1/zz_generated.deepcopy.go
  config/crd/bases/ingress.pomerium.io_pomerium.yaml
  deployment.yaml
  pomerium/config.go
  pomerium/config_test.go
  pomerium/ingress_annotations.go
  pomerium/ingress_annotations_test.go
  reference.md
Due: lint, deployment

add support for syncing via unified API (#1342)
  Makefile
  cmd/all_in_one.go
  cmd/controller.go
  cmd/ingress_opts.go
  config/gateway-api/role_patch.yaml
  config/pomerium/deployment/args.yaml
  config/pomerium/rbac/role.yaml
  controllers/config_controller.go
  controllers/ingress/reconcile.go
  controllers/mock/mock.go
  controllers/mock/sdkclient.go
  cspell.config.yaml
  deployment.yaml
  go.mod
  go.sum
  model/gateway_config.go
  model/secrets_map.go
  pomerium/gateway/filters.go
  pomerium/gateway/translate.go
  pomerium/ingress_to_policy.go
  pomerium/ingress_to_policy_test.go
  pomerium/reconcile.go
  pomerium/sync_api.go
  pomerium/sync_api_test.go
  pomerium/sync_databroker.go
Due: lint, deployment

ci: update dependencies (#1375)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1376)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1377)
  go.mod
  go.sum
Due: none

ci: update dependencies (#1379)
  go.mod
  go.sum
Due: none

fix standalone mode health checks
  cmd/common.go
  cmd/controller.go
Due: lint
